[2014-11-13 22:15] whiteadam opened #5 "Nothing there after install"
Hey guys,

I followed the instructions at  http://www.gluu.org/docs/admin-guide/installation/centos/ to install Gluu CE, but when I go to the server URL, I get redirects to /identity, but there's nothing there.

Any ideas? Error log below:

[code]

[2014-12-07 21:50] wrabbit-revisited opened #6 "Firefox can't find server at ce.gluu.info"
I'm running Centos 6.5 on VirtualBox. I followed the instructions, with the following differences for setup.py:
asked to update hostname, hosts, and resolv.conf files
asked to download latest oxAuth and oxTrust WAR files

The startup.py says the Gluu server installation was successful and i can ping "ce.gluu.info", but Firefox cannot find a server at https://ce.gluu.info.

[2015-01-02 16:54] mzico opened #7 "test"
test

[2015-01-18 23:38] shakaran opened #8 "No tomcat salt folder after running setup.py in Centos 6.5"
I get this log after running setup.py folder. I have setup nginx. I don't know if this script requires tomcat. If that the case, it should autodetect the binary presence of tomcat and warn the user about it.

	 cat setup.log
	18:15:34 01/18/15 Installing Gluu Server
	18:15:34 01/18/15 ./setup.properties Properties not found. Interactive setup commencing...
	18:17:36 01/18/15 Checking properties
	1

[2015-01-19 11:12] mzico commented on #8
Hi Shakaran,
Though I couldn't reproduce your problem but I saw a different problem in Gluu-Server-Repo-1.9-0.el6.x86_64.rpm. I am not able to log into oxTrust admin panel ( the GUI of Gluu Server ).

I am exactly not sure but a quick question: possible for you to share why and where (inside Chroot container or outside chroot container ) you are trying in use nginx? Apahce is being configured and

[2015-01-20 14:40] #7 closed

[2015-01-20 14:49] yurem opened #9 "Move shibboleth2 templates files to setup"
We should do next:
1) Remove /opt/tomcat/conf/shibboleth2 folder with files from rpm.
2) Put http://ox.gluu.org/maven/org/xdi/oxtrust-configuration/2.0.0.Final/oxtrust-configuration-2.0.0.Final.jar into /opt/dist as oxtrust-configuration.jar
3) During setup unpack oxtrust-configuration-2.0.0.Final.jar into temporary folder
4) Move shibboleth2 folder into /opt/tomcat/conf
5) Remove temporary folder

[2015-01-21 22:57] joelself commented on #5
Has this issue been resolved somewhere or somehow? I just ran into it trying to run setup on Ubuntu.

[2015-01-21 23:32] nynymike commented on #5
New version is coming out tomorrow.  We actually removed this option.

[2015-01-22 08:24] yurem opened #10 "Error in installation setup.log"
To see basic server configuration status and configuration you can launch /opt/opendj/bin/status

08:07:00 01/22/15 Unable to initialize log
java.io.IOException: Permission denied
	at java.io.UnixFileSystem.createFileExclusively(Native Method)
	at java.io.File.createNewFile(File.java:1006)
	at java.io.File.createTempFile(File.java:1989)
	at java.io.File.createTempFile(File.java:2040)
	at org.opend

[2015-01-22 14:51] yurem opened #11 "Add more attributes to admin user entry"
Admin user should have more attributes to allow request user profile scope

[2015-01-22 14:52] yurem opened #12 "Add default log viewer configuration"
Add default oxTrust log viewer configuration to LDAP

[2015-01-22 14:53] yurem opened #13 "Enable oxTrust status checker"
Enable oxTrust status checker by default.
There is property in oxTrust properties which allows to do that:
site.update-appliance-status=true

[2015-01-22 14:54] yurem opened #14 "There is no facter and check_sll commands"
We need to allow tomcat user to execute these commands: facter, check_ssl

[2015-01-22 14:56] yurem opened #15 "Configure GluuOpenDJ to allow schema modification"
According to oxTrust log file
Attributes: Failed to add new attribute type to LDAP schema
LDAPException(resultCode=80 (other), errorMessage='An error occurred while attempting to write the updated schema:  IOException(Permission denied)', diagnosticMessage='An error occurred while attempting to write the updated schema:  IOException(Permission denied)')

I suspect we need to change Gluu-OpenDJ con

[2015-01-22 15:00] yurem opened #16 "Fix 764C.2818,ou=scopes scope defenition"
According to oxauth log there is data issue in CE
2015-01-22 09:06:36,749 TRACE [org.xdi.oxauth.service.ScopeService] Failed to find entry: inum=@!88C3.4343.5EE3.CF63!0001!9E36.450E!0009!764C.2818,ou=scopes,o=@!88C3.4343.5EE3.CF63!0001!9E36.450E,o=gluu
org.gluu.site.ldap.persistence.exception.EntryPersistenceException: Failed to find entry: inum=@!88C3.4343.5EE3.CF63!0001!9E36.450E!0009!764C.2818,

[2015-01-22 22:18] nynymike commented on #16
I think I fixed this. The DN for this scope had changed, I needed to update the ldif template for the client.

[2015-01-22 22:18] #16 closed

[2015-01-22 23:59] joelself commented on #5
Wait, do you mean a new version of Gluu CE or just a new version of setup.py?

[2015-01-26 14:55] yurem opened #17 "Should CE support SOAP Endpoints"
According to the https://wiki.shibboleth.net/confluence/display/SHIB2/IdPApacheTomcatPrepare sections "Support SOAP Endpoints" we can allow legacy Shibboleth SPs using SAML 1.1 in CE.

Do we really needs to support SAML 1.1?

[2015-01-26 14:57] mzico commented on #17
My two cents... I don't think we should support SAML 1.1

[2015-01-26 15:01] yurem commented on #17
I added this issue after this transaction: https://github.com/GluuFederation/community-edition-setup/commit/5ac0ed8af73f31ca0864f3c8f9702b5b7367b8d0

[2015-01-26 16:35] yurem commented on #15
I tied to run cn=schema modification manually in order to gather more information about this issue. On every steps I tried to remove part which causes issue.
But we can't to do that because our 101-ox.ldif uses them.

It looks like we need to run few additional ds-confing commands in order to resolve these issues.

These are list of iterations and results:
1)
#!RESULT ERROR
#!CONNECTION ldap://cec

[2015-01-26 17:42] nynymike commented on #17
Not in this version...

[2015-01-26 17:57] nynymike commented on #15
I think this requires `dsconfig`

[2015-01-26 18:38] nynymike commented on #15
Error 80 : "The result code that should be used if no other result code is appropriate" Directly updating the OpenDJ schema via LDAP is just not a good idea. Ideally this would be sent to salt for remote execution on the LDAP servers in the topology. Perhaps we should just remove the hook to LDAP and say : make sure you update your LDAP schema!

[2015-01-26 19:01] yurem commented on #15
We limit user here. He is able to add new attributes and remove added attributes. He can't drop server schema.

[2015-01-26 20:01] nynymike commented on #15
Jan 25, 2015 2:25:21 PM org.opends.quicksetup.util.UIKeyStore getInstance
INFO: Path /home/ldap/.opendj/gui-keystore does not exist

I think this is a result of /home/ldap being owned by root:root

When this folder gets created, its really important its owned by ldap:ldap.

Also, there should not be any .bash_history in /home/ldap/.bash_history

[2015-01-26 20:04] yurem commented on #15
Are you speaking about chroot with gluu-opendj installation?

[2015-01-26 20:06] nynymike commented on #15
yes, after install of Gluu Server, when I ls the /home/ folder, I can see that `/home/ldap` is not owned by `ldap:ldap`  I wonder if this user was added through the useradd tool properly...

[2015-01-27 18:37] worldiswelcome commented on #14
facter was part of puppet stuff.
Do we want to install facter individually?

[2015-01-27 19:05] yurem commented on #14
oxTrust runs it to gather statistic

[2015-01-27 19:44] worldiswelcome commented on #14
I've added facter to the server rpm.

[2015-01-27 20:41] yurem commented on #14
Can you add check_ssl command too?

[2015-01-28 04:02] yurem commented on #10
https://bugster.forgerock.org/jira/browse/OPENAM-4466

Hence it's not installation issue

[2015-01-28 04:02] #10 closed

[2015-01-28 12:58] yurem opened #18 "Remove perl packages if it's possible"
We should remove perl packages from CE after resolving
https://github.com/GluuFederation/oxTrust/issues/31

[2015-01-28 13:19] #13 closed

[2015-01-28 13:21] #14 closed

[2015-01-28 13:24] yurem commented on #15
We have fixed /home/ldap owner. There is something which we need to fix additionally in order to resolve it.

[2015-01-28 13:41] yurem opened #19 "CR configuration should have default inum configuration"
CR configuration should has default inum configuration

[2015-01-30 16:13] yurem opened #20 "Install jython into CE"
We need to install jython into /opt/jython and add environment property to gluuTomcatWrapper.conf

There is more information in next topics:
http://ox.gluu.org/doku.php?id=oxtauth:customauthscript&s%5B%5D=jython#jython_python_integration
http://ox.gluu.org/doku.php?id=oxtauth:customauthscript&s%5B%5D=jython#jython_installation_optional

[2015-02-09 19:10] yurem opened #21 "Fix OS detection method"
There is problem with our scripts on Ubuntu
[18:37:54] Yuriy Movchan: Enter IP Address [192.168.74.150] :
Enter hostname [ce.gluu.info] : u14.gluu.info
Traceback (most recent call last):
  File "./setup.py", line 1429, in <module>
    installObject.promptForProperties()
  File "./setup.py", line 1073, in promptForProperties
    installObject.os_type = installObject.detect_OS_type()
  File "./setup

[2015-02-09 19:10] yurem commented on #21
GLUU.root@ce:/install/community-edition-setup# find /etc -name *release
/etc/lsb-release

[2015-02-09 19:10] yurem commented on #21
GLUU.root@ce:/install/community-edition-setup# cat /etc/os-release
NAME="Ubuntu"
VERSION="14.04.1 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 14.04.1 LTS"
VERSION_ID="14.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"

[2015-02-09 19:14] yurem opened #22 "Fix memchached service start on Ubuntu"
19:49:13 02/09/15 Error running command : /sbin/service memcached start
19:49:13 02/09/15 Traceback (most recent call last):
  File "./setup.py", line 1187, in run
    p = subprocess.Popen(args, stdout=subprocess.PIPE, stderr=subprocess.PIPE, cwd=cwd)
  File "/usr/lib/python2.7/subprocess.py", line 710, in __init__
    errread, errwrite)
  File "/usr/lib/python2.7/subprocess.py", line 1327, in _ex

[2015-02-09 19:17] yurem opened #23 "There is no check_ssl python script"
We need to convert our perl check_sll into python to avoid installing perl

[2015-02-10 16:40] #22 closed

[2015-02-10 16:40] #21 closed

[2015-02-10 17:34] yurem opened #24 "Fix memcached service initialization"
Something wrong with method of memcached servicdee configuration in Ubuntu. According to the setup logs:
16:58:36 02/10/15 Running: /usr/sbin/update-rc.d memcached start 30 3 .
16:58:36 02/10/15  System start/stop links for /etc/init.d/memcached already exist.

16:58:36 02/10/15 update-rc.d: warning:  start runlevel arguments (3) do not match memcached Default-Start values (2 3 4 5)
update-rc.d: w

[2015-02-11 19:12] #24 closed

[2015-02-11 19:13] yurem opened #25 "Fix chmod /opt/apache-tomcat-7.0.55/webapps/*"
18:55:28 02/11/15 /bin/chmod: cannot access '/opt/apache-tomcat-7.0.55/webapps/*': No such file or directory

[2015-02-11 19:19] yurem commented on #25
I think we need to run chm

[2015-02-11 19:19] #25 closed

[2015-02-11 19:21] #17 closed

[2015-02-12 11:09] #23 closed

[2015-02-13 12:46] #20 closed

[2015-02-16 17:10] #15 closed

[2015-02-16 17:10] #18 closed

[2015-02-24 19:58] yurem opened #26 "Update attributes.ldif to conform claims mapping"
We need to update attributes.ldif to conform https://github.com/GluuFederation/oxAuth/issues/7

[2015-02-25 15:47] yurem commented on #8
Fixed in CE 2.0

[2015-02-25 15:47] #8 closed

[2015-02-25 17:24] yurem opened #27 "Fix asimba template"
More info there http://ox.gluu.org/doku.php?id=ce:asimba130reconfiguration

[2015-03-09 19:53] yurem opened #28 "Render /etc/security/limits.conf"
There are recommendations about Max Open Files. I think we need to render in setup /etc/security/limits.conf file. Also during setup we should check host VM config:
cat /proc/sys/fs/file-max
We need to check if the system has enough file descriptors available overall.

These are sample values for production with high load:
 /etc/security/limits.config
opendj soft nofile 65536
opendj hard nofile 13

[2015-03-09 20:13] nynymike commented on #28
Also, this needs to be done in the host system, not just the chroot instance. As the chroot container is run as root, I'm not sure if the limits need to be set for the system in general.

[2015-03-11 17:29] #26 closed

[2015-04-02 18:55] zamilskhan opened #29 "Ubuntu 14.04 (Trusty) installation not working"
Hi, I am using Ubuntu gluu-server package to configure gluu server on my ec2 instance. I followed the guide from here

http://www.gluu.org/docs/admin-guide/installation/ubuntu/

and successfully installed the server.

I have attached my setup.log and setup_error.log files to this ticket.

After login when I run ./setup.py. I entered following information

Enter IP Address [172.31.6.167] : 52.11.12

[2015-04-02 19:13] mzico commented on #29
Rahat,

What kind of problem you are observing. I mean, isn't IDP loading in your browser or are you getting some error after login there?

[2015-04-03 08:28] yurem opened #30 "Don't allow to run setup.py after installation"

[2015-04-13 17:15] nynymike opened #32 "Deploy Yubico FIDO U2F server"
Deployment should also include an oxAuth custom authentication interception script for FIDO U2F authentication

[2015-04-16 19:44] willow9886 commented on #5
we've released Gluu Server 2.1 a few week ago. 2.2 is on the way by end of April. I'm going to close this issue for now.

[2015-04-16 19:44] #5 closed

[2015-04-16 19:46] willow9886 commented on #6
I'm going to close. Check out our latest release if you still having trouble. Thanks!

[2015-04-16 19:46] #6 closed

[2015-04-16 19:47] willow9886 commented on #29
Closing this...

[2015-04-16 19:47] #29 closed

[2015-04-21 22:41] davidstrauss opened #33 "RHEL/CentOS 7 support"
Title says it all. The current installation instructions specify CentOS/RHEL 6, which is pretty old now.

[2015-04-21 23:05] nynymike commented on #33
We have a new build. Adrian, can you update the Centos Instructions?

[2015-04-29 17:04] yurem opened #35 "Uninstall not required apache modules from CE"
For example: mod_log_config mod_dav
And modules which protect from DOS attacks. I think customer's admin should install them if needed

[2015-05-03 10:14] jeroenpeeters commented on #33
I'm in the process of evaluating Gluu. Unfortunately I cannot get the package to work on CentOS 7.1.1503. I would actually be happier if I could easily run this from Docker. Are you planning to do that? Or is there a manual available for installing all components separately. I would be more than happy to help to 'dockerize' Gluu.

Starting:

#> service gluu-server start
Starting gluu-server (via s

[2015-05-03 12:48] adrian-gluu commented on #33
Hello Jeroen,

Right now we are in the middle of 2 new projects:
- RPM for centos 7
- and a Docker VM

So probably keep in touch with us, because soon you gonna have news about these new stuff.

Regards, Adrian.-

[2015-05-05 19:09] yurem opened #36 "Gluu-server should support upgrade process with data restore"
Currently gluu-server package covers upgrade process partially. It stop previous services in order to allow new package install. But there are user data which should be restored after upgrade.
What about next simple solution:
1) Run full LDAP backup from pre-uninstall script and store result ldif into /opt/gluu-server.backup
Make sure that ldap export command returns success before allowing to res

[2015-05-05 19:16] nynymike commented on #36
opendj has a command db2ldif that is probably the safest way to backup the ldap server.

[2015-05-18 08:53] prabhu-rajendran-payoda opened #37 "Log file of gluu-server"
I m trying to install and configure gluu-server in CentOS 6 based on http://www.gluu.org/docs/admin-guide/deployment/centos/

I installed gluu-server till before step setup.py, but cannot able to start gluu-server.

Searched for log file, it was NO WHERE.

[2015-05-18 13:37] mzico commented on #37
What message do you get when you try command `service gluu-server start`

[2015-05-25 04:24] prabhu-rajendran-payoda commented on #37
[root@ce /]# service gluu-server start
Starting gluu-server (via systemctl):                      [  OK  ]
[root@ce /]# service gluu-server status
gluu-server is not running
[root@ce /]#

[2015-05-25 07:09] prabhu-rajendran-payoda commented on #37
[root@ce /]# service gluu-server start
Starting gluu-server (via systemctl):                      [  OK  ]
[root@ce /]# service gluu-server status
gluu-server is not running
[root@ce /]#

[2015-05-25 09:47] prabhu-rajendran-payoda commented on #37
I could able to install and start after two retry..

But, stuck with error on setup.py,

$ service gluu-server login
Gluu server is not started, please start it from root machine by service gluu-server start

[2015-05-25 10:22] prabhu-rajendran-payoda commented on #37
When will be the release for CentOS 7 in place?

[2015-05-25 11:10] adrian-gluu commented on #37
there isn't any estimated launch date yet, our team is working on that.

[2015-05-25 12:00] prabhu-rajendran-payoda commented on #37
ok thanks

[2015-05-25 12:00] #37 closed

[2015-05-26 11:06] prabhu-rajendran-payoda commented on #37
Finally, i installed with CentOS 6.5..

But, cant able to get it in browser.  -  https://{hostname}  --- not works

[2015-05-26 23:30] datacarl commented on #5
Hi!

I followed the [centos installation instructions](http://www.gluu.org/docs/admin-guide/deployment/centos/) and ran into the same problem.

The root url works
[code]

But there is nothing at /identity
[code]
22:56:45 05/26/15 log4j:ERROR setFile(null,true) call failed.
java.io.FileNotFoundException: /logs/oxauth_persistence_ldap_statistics.log (No such file or directory)
	at java.io.FileOutput

[2015-05-27 07:06] mzico commented on #5
@datacarl : Please check if 443 and 80 ports are open in that VM which you are using.

[2015-05-27 14:41] datacarl commented on #5
@mzico thanks, they are. It's empty when I curl it from within the VM too.

[2015-05-27 14:42] nynymike commented on #5
This thread needs to move to https://support.gluu.org

github is for bug tracking / feature requests only

[2015-05-28 01:05] datacarl commented on #5
@nynymike ok, sorry, I just saw this issue and thought it was similar. Didnt see the support forums until now, thanks for the link! Tried to create an account but I get 500 errors (just FYI). Will post there later.

[2015-05-28 15:23] willow9886 commented on #5
@datacarl I was just able to register an account successfully. I believe you already have an account registered with your lookback.io email address.

[2015-06-04 12:17] mzico opened #38 "eduPerson* attribute is not operational for lack of OC"
objectClass: eduPerson is not available for users in CE-v2.2. That's why no eduPerson* attributes can be added from oxTrust GUI. In order to add eduPerson* attribute, we need to add this objectClass first with ldapmodify.

[2015-07-02 14:02] mfgamma opened #42 "hostname, Iname issues after install"
I have found a few strange points:

install on a plain Ubuntu 14.4 server.
of the version 2.3 01
following install process of http://www.gluu.org/docs/admin-guide/deployment/ubuntu/
works but:
before install I double checked my hostname and it was ok idp.xxx.org
during the install the hostname and IP was correctly detected
once install finished the hostname was changed to ce

more over not sure to

[2015-07-02 15:43] yurem opened #43 "federation-signing-kid Should be sync with web-keys"
Attribute
<federation-signing-kid>6898cff9-4f92-4b58-b37c-2a2b6779b0b3</federation-signing-kid>
of
https://github.com/GluuFederation/community-edition-setup/blob/master/templates/oxauth-config.xml
should be in sync with generated web-keys

[2015-07-06 18:01] zamilskhan opened #44 "OpenID connect "sub" standard field not returned by UserInfo Request"
Extract of OpenID Connect standard (http://openid.net/specs/openid-connect-core-1_0.htm), §5.3.2 :
The sub (subject) Claim MUST always be returned in the UserInfo Response.
With Gluu 2.2.0, only a field named "inum" is returned with the concerned data.
With Gluu 1.7.0, the field was named "sub" so it was correct. Why its name is now "inum" ? This is not compatible with OpenId connected definition.

[2015-07-07 12:18] yurem opened #45 "Setup should configure site indexes"
Current setup version creates indexes in userRoot backend only. It should also create required indexes in site backend too.

[2015-07-07 21:18] nynymike commented on #45
Very important! Cache refresh won't work without indexes.

[2015-07-10 13:03] carlmjs opened #46 "Failed to prepare Shibboleth2 configuration files for download"
Steps to reproduce
- fresh install of ubuntu-14.04.2-server-amd64 on a VM with 8gb of ram
- apt-get update
- apt-get upgrade
- apt-get dist-upgrade
- restart
- echo "deb http://repo.gluu.org/ubuntu/ trusty main" > /etc/apt/sources.list.d/gluu-repo.list
- curl http://repo.gluu.org/ubuntu/gluu-apt.key | apt-key add -
- apt-get update
- apt-get install gluu-server
- service gluu-server start
- servic

[2015-07-10 13:24] carlmjs commented on #46
<pre>
2015-07-10 13:22:31,205 DEBUG [org.gluu.oxtrust.action.CustomAttributeAction] attribute: website
2015-07-10 13:22:31,205 DEBUG [org.gluu.oxtrust.action.CustomAttributeAction] attribute: workTelephoneNumber
2015-07-10 13:22:31,723 WARN  [org.jboss.seam.ui.renderkit.DefaultActionRendererBase] Must set an id for the default action source
2015-07-10 13:22:31,726 WARN  [org.jboss.seam.ui.renderki

[2015-07-10 18:20] carlmjs commented on #46
The problem exists in Version 2.3.x & 2.2
I got the file to generate with an old version: apt-get install gluu-server=2.1-0

[2015-07-18 18:53] gkout commented on #33
I have the same problem like Jeroen. It seems the new package for Centos 7 takes some time.
We are in July already :)

Cheers,
George

[2015-07-19 23:27] adrian-gluu commented on #33
Hello George, we are working on that, unfortunately there isnt any estimated time yet on this.

Adrian.-

[2015-08-01 18:07] burkaygur opened #47 "AWS EC2 Setup?"
What kind of security profile do I need? My HTTP 80 is open, but I dont have access to the server at https://<IPAddress>

Any instructions for EC2?

[2015-08-01 18:14] nynymike commented on #47
tcp/80 and tcp/443 needs to be open. 80 only redirects to 443. API's should always use ssl.

If you need any further help, please pose your question on https://support.gluu.org and ask this question there. Github issues are only for bug reports, not requests for support.

[2015-08-01 18:14] #47 closed

[2015-08-01 18:14] mzico commented on #47
Open 443 as well, that's https. There is no special requirement for EC2. Gluu Server runs with standard Amazon security profile.

[2015-08-04 10:53] mzico opened #48 "package not signed for gluu-server-2.3.2-2.el6.x86_64.rpm"
.....
.....

Total download size: 636 M
Installed size: 1.4 G
Is this ok [y/N]: y
Downloading Packages:
gluu-server-2.3.2-2.el6.x86_64.rpm                                                                                                     | 636 MB     00:30

Package gluu-server-2.3.2-2.el6.x86_64.rpm is not signed
[root@test ~]#

[2015-08-04 21:06] mzico opened #49 "'gluu-server_2.3.2-2_amd64.deb' uninstallation not happening"
Went to move to uninstall my server, here are whole commands:

http://pastebin.com/b830SbTT

[2015-08-13 15:53] yurem commented on #12
Added required templates

[2015-08-13 15:53] #12 closed

[2015-08-14 10:31] yurem opened #50 "OpenDJ allows to add entries even without OC and attributes"
OpenDJ allow to add entries even with invalid schema definition.

[2015-08-17 20:21] rassiel opened #51 "login after installation is not working"
I downloaded and installed gluu community edition last week, and it worked like a charm. Today I tried a new installation and when trying to login I'm getting a "Not Found".

Attemp to go to: https://gluu-server.cloudapp.net
URL will be:
https://gluu-server.cloudapp.net/oxauth/authorize?scope=openid+profile+email+user_name&response_type=code+id_token&nonce=nonce&redirect_uri=https%3A%2F%2Fgluu-ser

[2015-08-17 20:29] mzico commented on #51
@rassiel : We are releasing new Gluu Server 2.3.3. Please check the status of installation tomorrow.

[2015-08-17 20:32] rassiel commented on #51
ohh... great, thanks for you quick answer!!!

[2015-08-19 15:50] yurem commented on #51
Please, reopen this issue if needed.

[2015-08-19 15:50] #51 closed

[2015-08-19 15:51] yurem opened #52 "Add oxAuth-RP component to CE"

[2015-08-19 15:51] yurem commented on #52
Allowed to install it in 2.4.0

[2015-08-19 15:51] #52 closed

[2015-08-22 22:01] bhourigan opened #53 "Python error in setup.py on Ubuntu 14.04"
I fetched master.zip from github but the installation script is still giving me an error - here's the output:

[code]

Contents of setup.properties, minus comments
[code]

[2015-08-22 22:26] nynymike commented on #53
I'm working on some fixes... why aren't you using the packages? We just shipped 2.3.3 two days ago!

[2015-08-22 22:35] bhourigan commented on #53
I'm following the installation instructions documented here - http://www.gluu.org/docs/admin-guide/deployment/ubuntu/

It says to first install via package, and then run setup.py. Is this incorrect or obsolete?

[2015-08-22 22:38] nynymike commented on #53
I'm removing the comment about downloading the latest install script from Github. Its best to use the script we QA'd as part of the release. Also, for any problem with installation, please register and post the question on our support site: https://support.gluu.org

[2015-08-22 22:38] #53 closed

[2015-08-22 22:38] bhourigan commented on #53
There's a bug in the script, which this issue is related to. I'm not asking for support I am reporting a bug.

[2015-08-22 22:46] nynymike commented on #53
Its not a bug. Your setup.properties are wrong! If you run the script interactively and answer the 10 questions it will generate a full set of properties which you can inspect and use for future installations. The properties feature is not really supposed to be used with an initial installation. BTW, are you working on FIDO U2F?

[2015-08-25 10:00] yurem commented on #49
In 2.3.3 uninstall should work fine

[2015-08-25 10:00] #49 closed

[2015-08-25 10:02] yurem commented on #45
Fixed: https://github.com/GluuFederation/community-edition-setup/commit/1b69de24cb6a51abe295291b2ef7bfc6d5cfb463

[2015-08-25 10:02] #45 closed

[2015-08-25 15:32] willow9886 opened #54 ""service gluu-server restart" console command fails"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.0-1

Preconditions:
Gluu server is running and fully operational

Steps to reproduce:
1) Open console and issue the following command under the root user: "service gluu-server restart"

Result:
Despite the server is stopped successfully, it's subsequent start attempt results in failure due to the fact some port

[2015-08-25 15:44] #35 closed

[2015-08-25 15:45] #36 closed

[2015-08-27 14:45] willow9886 commented on #44
Fixed and merged into 2.3.3

[2015-08-27 14:45] #44 closed

[2015-08-28 01:12] rassiel opened #55 "installing glue package not found"
Hi. I'm trying to do a fresh gluu install on  Ubuntu 14.04.3 LTS
[code]
at this point I'm getting *Unable to locate package gluu-server*

[2015-08-28 01:20] willow9886 commented on #55
Hey Rassiel, can you open this as a ticket on http://support.gluu.org? Thanks in advance.

[2015-08-28 01:20] #55 closed

[2015-09-03 20:00] ubiquitousthey commented on #46
Using 2.3.3-1, I get this as well.

[2015-09-04 10:38] rngadam opened #56 "chown: invalid user: 'apache:apache'"
Ubuntu 14.04 from packages, from the setup.log

[code]

[2015-09-04 10:40] rngadam opened #57 "missing LSB information"
[code]

update-rc.d: see http://wiki.debian.org/LSBInitScripts

[2015-09-04 10:49] mzico commented on #56
Ingredients of /etc/certs/* should be tomcat:tomcat

[2015-09-04 11:33] rngadam commented on #46
2.3.3-1 also, Ubuntu 14.04.

Relevant error seems to be this:

[code]

[2015-09-04 12:05] mzico commented on #46
There is on ticket already there on same issue. Please track that ticket: https://github.com/GluuFederation/oxTrust/issues/103

[2015-09-04 12:05] #46 closed

[2015-09-05 17:08] jimscarver opened #58 "no listening sockets available, shutting down"
We follow the setup which appears successful but nothing is listening on port 80, 8080 or 443.  apache is listening on port 8443.We are running CentOS 6.6 on Azure.

The only error we see in setup.log or setup_error.log is:

14:08:17 09/05/15 (99)Cannot assign requested address: make_sock: could not bind to address 40.76.89.82:80
no listening sockets available, shutting down
Unable to open logs

I

[2015-09-05 17:15] mzico commented on #58
Jim,

We haven't tested Azure, so exactly not sure how it's handling the networking. Most probably the problem is related to IP_address which you used during installation of Gluu-Server.

[2015-09-05 18:46] jimscarver commented on #58
Thanks!  I has used the external IP address in the setup.  I tried again
with the internal IP address and it is now listening to port 80 and 443.

But now the connection times out.  I see this in the wrapper log:

INFO   | jvm 2    | 2015/09/05 18:15:38 | 2015-09-05 18:15:38,268 ERROR
[org.jboss.seam.async.AsynchronousExceptionHandler] Exception thrown whilst
executing asynchronous call
INFO   | j

[2015-09-05 18:49] nynymike commented on #58
This is not a bug, it is a deployment support request. I am closing the issue. Please register on https://support.gluu.org and re-post your problem if you really think its something we can help you with.  Also, at a high level, you need to manage the network, including routing, firewalls, and security. This varies from IAAS providers, and we don't know the ins and outs of each one.

[2015-09-05 18:49] #58 closed

[2015-09-07 04:23] rngadam opened #59 "oxTrust still broken in gluu 2.3.3-1"
This issue is marked as closed: https://github.com/GluuFederation/oxTrust/issues/74

However, after installation of gluu 2.3.3-1 (latest on Ubuntu 14.04 from official packages) oxTrust still breaks:

[code]

Was the change unreleased?

[2015-09-07 04:30] rngadam opened #60 "SEVERE: Exception sending context destroyed event to listener instance of class"
gluu-server 2.3.3-1 on Ubuntu 14.04

```service gluu-server restart``` fails:

[code]

logs show:

[code]

[2015-09-07 12:21] nynymike commented on #60
We will take a look. I'm not sure restart is a good idea. We may just remove the feature. Within the gluu server you might want to restart a service, like tomcat or opendj, but I don't think restarting all the processes within the gluu-server is that useful.

[2015-09-07 13:13] ganesh-at-wiw commented on #60
Restart seems buggy. But service stop and start separately works fine over many cycles.

root@testidp:~# service gluu-server restart
Shutting down Gluu Server...
Stopping Apache...
OK
Stopping Tomcat...
OK
Stopping Memcached...
OK
Stopping OpendDJ...
OK

Port address(es) 1689
443
4444
8009
1389
80 already in use,
Please stop the service(s) listening on one of 1689
443
4444
8009
1389
80 ports and e

[2015-09-08 20:43] cestith commented on #33
I just downloaded the server in September and have the same issue. Is there a time estimated yet?

[2015-09-10 06:33] yurem opened #61 "Upgrade tomcat 7.0.55 to 7.0.64"

[2015-09-10 06:35] yurem opened #62 "Remove /opt/jython-2.5.3 from CE"

[2015-09-10 17:02] nynymike commented on #60
Then we should move the `restart` command.

[2015-09-11 00:27] nynymike commented on #58
Another customer recently reported a solution:

Azure assigns a public and private IP to the VM.   Initially the server could not be reached at the public address (404 - error) ... We modified the Apache VirtualHosts entries  to utilize `*:80` and `*:443` instead of setting directly  the Private (or Public IP address).   A second modification was also necessary.   Hosts file entries mapping the pr

[2015-09-11 11:15] jimscarver commented on #58
Thanks Mike!

This does not account for the connection to the external ip timing out
which is like there is nothing listening on the public ip at all but
suggests issues we will need to address once we do have a connection.

I finally am able to connect locally but not from the outside. We may need
some azure support.  Port 443 is opened in the Azure panel.
[root@ce ~]# netstat -nl|grep 443
tcp

[2015-09-11 13:52] nynymike commented on #58
Gluu offers Community Edition Support: https://gluu.org/pricing

If you want to engage a consultant, I think its just a network configuration issue that probably a contractor on https://upwork.com could probably resolve for you.  Why not switch to Digital Ocean?

[2015-09-12 21:09] jimscarver commented on #58
The gluu support pricing is a bit out of our league at present.

I do have a digital ocean host available and tried installing gluu there.  It says OK when I start gluu-server but it is not running.  I guess the problem is that it is running CentOS Linux release 7.1.1503.  I presume I need CentOS 6. :-(

[2015-09-12 21:23] nynymike commented on #58
Please register on https://support.gluu.org and post your support questions there. github is used for bugs or feature enhancements only.

Yes, Centos 7 is defintely not supported. We plan to release Centos 7 / Redhat 7 very soon though.

[2015-09-15 15:30] willow9886 commented on #33
We're still working on this, Chris. We hope to publish packages for CentOS 7 in our next major release, 2.4.0, towards the end of the month. We'll update this issue when they are ready.

[2015-09-17 05:21] ganesh-at-wiw opened #63 "community-edition-setup/templates/asimba-selector.xml"
Is: ce.gluu.info and ce.gluu.org intentional or typo?

`<application entityId="https://ce.gluu.info/secure" organizationId="https://ce.gluu.org/idp/shibboleth" />`

[2015-09-17 05:21] #63 closed

[2015-09-18 15:23] mzico opened #65 "CE 2.3.4 rpm installation - rpm not signed"
http://pastebin.com/qF9j6HcR

[2015-09-18 16:59] adrian-gluu commented on #65
it is now

[2015-09-18 16:59] #65 closed

[2015-09-24 20:36] aliaksander-samuseu commented on #59
This issue doesn't seem to affect any functionality, but it does clutter logs, and produces false alarms from users when resolving issues. Is it possible to get rid of it somethow?

[2015-09-24 20:48] willow9886 commented on #59
It appears this has been fixed and will be released in version 2.4.0.

[2015-09-25 10:58] yurem commented on #59
It fixed in CE 2.3.4 Also this fix it will be part of CE 2.4.0
We can reccomend to use latest oxTrust from 2.3 branch, or install CE 2.3.4
This is latest oxTrust CE 2.3.4 war: http://ox.gluu.org/maven/org/xdi/oxtrust-server/2.3.4.Final/oxtrust-server-2.3.4.Final.war

[2015-09-25 10:58] #59 closed

[2015-10-02 01:17] dmogn opened #66 "Asimba install bug"
Ubuntu, gluu-server_2.4.0.beta1-1_amd64.deb

1. Call setup.py with asimba and shibboleth options. Domain name = test.
2. Shibboleth domain name in /opt/apache-tomcat-7.0.55/conf/asimba-selector.xml = <application entityId="https://ce.gluu.info/secure" organizationId="https://ce.gluu.org/idp/shibboleth" />
(unchaned from default ce.gluu.org).

[2015-10-08 05:18] adrian-gluu commented on #33
we have a 2.3.4 release ready for centos7/rhel7

[2015-11-16 01:10] jimscarver commented on #48
The workaround is

yum --nogpgcheck install gluu-server

[2015-11-16 21:12] jimscarver opened #70 "server fails to start on CentOS 7.1"
We installed 2.3.5-2.el6 following http://www.gluu.org/docs/admin-guide/deployment/centos/ on CentOS Linux release 7.1.1503 (Core) on DigitalOcean

It installs without issue but service gluu-server start it says it is started but is not.  The package did start fine on CentOS 6.5 but we had certificate issues there.

[root@ce etc]# service gluu-server start
Starting gluu-server (via systemctl):

[2015-11-17 08:00] moebin commented on #33
So is it currently supporting Centos 7? I tried this morning and it seems like it doesn't work yet

[2015-11-17 12:54] jimscarver commented on #33
It does not work for us either, see GluuFederation/community-edition-setup#70

[2015-11-17 14:28] nynymike commented on #70
You'll need to move this issue to https://support.gluu.org  It is not a bug on community-edition-setup

[2015-11-17 14:28] #70 closed

[2015-11-17 16:42] jimscarver commented on #70
I see the issue is in https://support.gluu.org/view/installation/problem-installing-and-running-gluu-server-on-centos-7/2167

That is a bug in the community-edition-setup as far as I can see.  How is that not a bug that should be addressed by an open issue here?

[2015-11-17 16:44] jimscarver commented on #33
According to https://support.gluu.org/view/installation/problem-installing-and-running-gluu-server-on-centos-7/2167 centos 7 is not working yet,

[2015-11-17 16:50] willow9886 commented on #70
It's not a bug, CentOS 7 is just not yet supported. We're working on it and hope to have it supported by end of year.

[2015-11-17 16:54] willow9886 commented on #33
We're still working on support for CentOS 7. For now, please use CentOS 6.5. Instructions [here](https://github.com/GluuFederation/community-edition-setup/issues/33#issuecomment-157303332)

[2015-11-19 15:17] klausstake commented on #53
It is a bug. I have the same problem. When I answer the fourth question, then I get the same error message.

I tried to install on Cent OS using this documentation:
http://www.gluu.org/docs/admin-guide/deployment/centos/

Regards,
Klaus

[2015-11-19 17:58] zamilskhan commented on #53
Hello, I tried to reproduce your issue but failed. The output is as follows:
[code]

[2015-11-19 19:16] nynymike commented on #53
Github is not for support. Please regiser and post your issue on https://support.gluu.org  If an issue proves to be a bug, we track it here.

[2015-12-20 18:52] aliaksander-samuseu opened #71 ""Timezone" setting for setup.py"
I had a minor issue with 2.3.4 rpm before. Timezone was set incorrectly inside the Gluu's container right after setup.py script finished its execution, but it was correctly set inside the host OS (outside of the container). Mb setup.py should ask a user about it during setup phase? It also could propose default value, the same as set for the host OS, in case it can't be correctly derived from the

[2015-12-23 15:24] aliaksander-samuseu opened #72 "Outdated Velocity templates for Shibboleth's configuration files are being deployed by setup.py"
I was discussing the issue with @yurem before, so will just relay his judgement of the situation.
It seems there are 2 sets of those templates in the current Gluu CE packages (2.4.x) at the moment. One outdated set deployed together with tomcat located at [this branch](http://gitlab.gluu.org/root/gluu-ce-rpm/tree/master/gluu-server24/opt/apache-tomcat-7.0.55/conf/shibboleth2/idp), and a current on

[2015-12-23 16:55] aliaksander-samuseu opened #73 "LDAP connection errors in oxtrust and idp-process logs each time gluu-server24 service is started"
Steps to reproduce:

1. Move into container and remove /opt/idp/logs/idp-process.log and /opt/tomcat/logs/oxtrust.log (to make it easier to analyze them after)
2. Move out of container and run "service gluu-server24 stop" command
3. Run "service gluu-server24 start" command

Result:

Service isn't accessible because a selection of vital components wasn't able to start. It seems all these component

[2015-12-24 01:35] vishalvenkategowda opened #74 "Shibboleth Configuration"
I am not able to configure Shibboleth on my SP. I have installed both Apache and Shibboleth according to the instruction for windows machine. After the IIS setup when I try to open https://<my domain>/Shibboleth.sso/Status, I get a blank page. I am expecting an xml as per the instructions.

I have gluu-server24 installed on my server(Linux). Now I need to install Shibboleth on my client system(win

[2015-12-24 08:00] mzico commented on #74
There are documentations out there in Internet on how to configure Shibboleth SP.

[2015-12-24 08:00] #74 closed

[2015-12-24 15:07] nynymike commented on #74
Also, this issue should have been listed on https://support.gluu.org--not on github. It is not a bug on community-edition-setup

[2015-12-28 18:08] zamilskhan opened #75 "Setup.properties file false flag"
The setup.properties file when used to install Gluu CE shows false for Shibboleth IDP installation. The previous installation had Shibboleth IDP checked and installed.

[2015-12-28 21:59] nynymike commented on #75
I just committed a [fix](https://github.com/GluuFederation/community-edition-setup/commit/3f2bec79a970c77c06218beb93fd51ebfcb8fd90) but it needs testing.

[2016-01-14 21:56] zamilskhan commented on #75
I tested RHEL 2.4.1 with setup.properties file. Still Shibboleth IDP and CAS does not change to "Yes".

[2016-01-14 22:05] nynymike commented on #75
Can you paste in the propreties files you used to test this?

[2016-01-14 22:15] zamilskhan commented on #75
I have pasted the contents of the setup.properties file in the following link in pastebin. http://pastebin.com/QLGzAWqh

[2016-01-15 00:08] nynymike commented on #75
I think I fixed this problem--due to case mismatch (SAML v Saml and CAS v. Cas). You'll need to re-run setup.py which will save the properties with the right file name, and then try loading from properties to test.

[2016-01-15 17:05] zamilskhan commented on #75
I tested RHEL 6.5 package. still the same. But I noticed that if there is a file named "setup.properties" in the "/install/ community-edition-setup/" then the option "-f setup.properties" is not necessary. The script takes the values from the file automatically.

[2016-01-22 06:49] ganesh-at-wiw opened #77 "Apache server hardening in Gluu CE"

[2016-01-22 06:53] ganesh-at-wiw opened #78 "Tomcat server hardening in Gluu CE"

[2016-01-22 06:53] ganesh-at-wiw opened #79 "OpenDJ server hardening in Gluu CE"

[2016-01-25 05:49] ganesh-at-wiw commented on #79
Suggestions:

1.   Disable LDAP connection handler. Only LDAPS connections should be allowed.

Before:
[code]
After
[code]

2.   Disable Anonymous Access.

Before:
[code]
After:
[code]

3. Reject unauthenticated requests (except bind and startTLS).

Before:
[code]

After:
[code]

4. Update default-password policy password storage scheme from Salted SHA-1 to Salted SHA-512.

Before:
[code]
After:
[

[2016-01-26 18:11] ganesh-at-wiw commented on #79
Not implementing separate user for now because "cn=Directory Manager" is used at quite many places and can break many things. Will reserve it for later uses.

[2016-01-26 18:20] ganesh-at-wiw commented on #79
We decided to create the separate user and use it wherever possible without breaking the server.
If the tests pass, we'll proceed with roll out in production.

[2016-02-02 10:06] yurem opened #81 "Upgrade to tomcat 8"

[2016-02-02 10:18] mzico commented on #81
@yurem: If you need help to test, please feel free to let me know.

[2016-02-04 06:53] yurem opened #82 "Fix gluu-server permissions"
/opt/gluu-server folder should not allow any system users to read it...

When I do an ls -l on /opt:
    drwxr-xr-x 22 root root 4096 Jan 21 11:51 gluu-server-2.4.1

This means that any unix user can see the contents... and potentially copy the entire opendj file, private keys etc.

Shouldn't it look like this:
    drwx------ 22 root root 4096 Jan 21 11:51 gluu-server-2.4.1

[2016-02-04 07:39] yurem opened #83 "Set max. file descriptor for container"

[2016-02-05 05:36] ramx commented on #33
I tried the CentOS 6.5 documentation for CentOS7 but it doesn't start my server : http://stackoverflow.com/questions/35203107/gluu-server-2-4-1-not-starting-on-centos-7

[2016-02-09 18:47] willow9886 commented on #81
moving this issue to a new `chroot` repo: https://github.com/GluuFederation/chroot/issues/1

[2016-02-09 18:47] #81 closed

[2016-02-09 18:49] willow9886 commented on #79
@ganesh-at-wiw is this resolved?

[2016-02-09 18:51] willow9886 commented on #78
moving this issue to `chroot` repo: https://github.com/GluuFederation/chroot/issues/2

[2016-02-09 18:51] #78 closed

[2016-02-09 18:52] willow9886 commented on #77
@ganesh-at-wiw can you be more specific about what changes you'd like to make?

[2016-02-09 18:55] willow9886 commented on #73
@aliaksander-samuseu  If the error in the log file is resulting in broken features, then we care. If t's just an error in the log, it's annoying but we don't have time to deal with it..

[2016-02-09 18:59] willow9886 commented on #72
It's unclear if the solution is to remove these templates from CE setup or to dynamically download them from the authoritative source?

[2016-02-09 19:00] #66 closed

[2016-02-09 19:01] willow9886 commented on #62
Moving this to `chroot` repo issue: https://github.com/GluuFederation/chroot/issues/3

[2016-02-09 19:01] #62 closed

[2016-02-09 19:11] willow9886 commented on #61
Upgrade to Tomcat 8 added as an issue in `chroot` repo: https://github.com/GluuFederation/chroot/issues/1

[2016-02-09 19:11] #61 closed

[2016-02-09 19:11] #60 closed

[2016-02-09 19:13] willow9886 commented on #57
@adrian-gluu can you resolve this before the upcoming 2.4.2 release?

[2016-02-09 19:14] #54 closed

[2016-02-09 19:15] #48 closed

[2016-02-09 19:16] #42 closed

[2016-02-09 19:17] #38 closed

[2016-02-09 19:18] willow9886 commented on #33
Best to get support for this type of issue on http://support.gluu.org. We have new releases for CentOS and RHEL 7 which you can try.

[2016-02-09 19:18] #33 closed

[2016-02-09 19:18] #32 closed

[2016-02-09 19:19] #28 closed

[2016-02-09 19:20] #27 closed

[2016-02-09 19:20] #19 closed

[2016-02-09 19:21] willow9886 commented on #9
@yurem is this related to https://github.com/GluuFederation/community-edition-setup/issues/72 ? We thought this might be an oxTrust issue...

[2016-02-09 19:22] #9 closed

[2016-02-10 20:00] willow9886 commented on #82
Moved this issue to the `chroot` repo: https://github.com/GluuFederation/chroot/issues/4

[2016-02-10 20:00] #82 closed

[2016-02-11 02:24] cam-miller opened #87 "Two descriptions on gluuSmtp attributes"
See https://github.com/GluuFederation/community-edition-setup/blob/master/static/opendj/101-ox.ldif lines 539 to 581.

 Causes issues with some schema parsing libraries.

[2016-02-11 09:00] yurem commented on #87
Fixed:
https://github.com/GluuFederation/community-edition-setup/commit/5c0c4b0f786bac813643c0f4baea9097a70bb7d9

[2016-02-11 16:11] ganesh-at-wiw commented on #79
No Will. It's the work in progress.
I need to test it first with appliance.

[2016-02-11 16:16] ganesh-at-wiw commented on #79
If you wish, you may like to move it to chroot.

[2016-02-11 17:06] willow9886 commented on #79
Moved to https://github.com/GluuFederation/chroot/issues/5

[2016-02-11 17:06] #79 closed

[2016-02-11 17:20] willow9886 commented on #77
Moved to `chroot` repo: https://github.com/GluuFederation/chroot/issues/6

[2016-02-11 17:20] #77 closed

[2016-02-15 13:36] iromli opened #88 "Missing oxAsimba configuration entry in LDAP"
I found that when Asimba sidebar menu is clicked, oxTrust raises the following error:
[code]

Perhaps, we have missing oxAsimba configuration in LDAP.

[2016-02-16 01:31] dmogn commented on #88
Fixed:
https://github.com/GluuFederation/community-edition-setup/blob/master/templates/configuration.ldif

[2016-02-16 03:35] iromli commented on #88
@dmogn In Enterprise Edition, those new entries are rejected due to invalid schema.

Here's log from rejected ldif file.
[code]

If I comment out `oxRevision` in new entries, I no longer see the rejected error message. Perhaps, something is missing from `101-ox.ldif`? I'm not sure if we need `oxRevision` in oxAsimba configuration though.

[2016-02-16 13:16] dmogn commented on #88
- Right. Fixed.

Also, Asimba defaut settings has been added to templates/configuration.ldif

[2016-02-22 13:39] mzico opened #90 "CentOS7 uninstall not successful"
'Running transaction' is not completing. Screenshot
![uninstallation_failing](https://cloud.githubusercontent.com/assets/7156097/13219710/602a099c-d937-11e5-89c3-96f080f53e52.png)
 attached.

[2016-02-24 11:25] yurem opened #91 "Setup should configure tomcat, ldap, apache users ulimit"
For me info please contact @zamilskhan He planned to add documentation page based on conversation in support chat

[2016-02-24 13:25] yurem commented on #72
Now we install shib templates during setup. Setup extract them from [oxtrust-configuration.jar](https://ox.gluu.org/maven/org/xdi/oxtrust-configuration/2.4.2.Final/oxtrust-configuration-2.4.2.Final.jar) and put into tomca/conf/shibboleth2 folder

[2016-02-24 13:25] #72 closed

[2016-02-24 13:56] yurem commented on #83
Duplicate: https://github.com/GluuFederation/community-edition-setup/issues/83

[2016-02-24 13:56] #83 closed

[2016-02-24 13:57] yurem commented on #88
Can you retest it in beta3?

[2016-02-24 17:15] iromli commented on #88
Sure, i will rebuild docker image with beta3 war files.

[2016-02-24 20:41] mzico opened #92 "CentOS7.2 installation failing"
Error:
[code]

CentOS version:
[code]

[2016-02-25 10:15] adrian-purism commented on #90
[2/24/16, 9:18:10 PM] Adrian Alves: root@pkg-rpm2 centos7.241]# rpm -ivh rpmbuild/RPMS/x86_64/gluu-server-2.4.1-1-2.centos7.x86_64.rpm
Preparing...                          ################################# [100%]
Updating / installing...
   1:gluu-server-2.4.1-1-2.centos7    ################################# [100%]
[root@pkg-rpm2 centos7.241]# rpm -e gluu-server-2.4.1-1
Checking if Gluu Server is

[2016-02-25 13:37] zamilskhan commented on #91
Currently, there is so specific requirement set for separate components. A general file descriptor requirement with how-to is given.

https://www.gluu.org/docs/admin-guide/deployment/#operating-system-requirement

[2016-02-25 17:14] adrian-gluu commented on #90
[2/24/16, 9:18:10 PM] Adrian Alves: root@pkg-rpm2 centos7.241]# rpm -ivh rpmbuild/RPMS/x86_64/gluu-server-2.4.1-1-2.centos7.x86_64.rpm
Preparing... ################################# [100%]
Updating / installing...
1:gluu-server-2.4.1-1-2.centos7 ################################# [100%]
[root@pkg-rpm2 centos7.241]# rpm -e gluu-server-2.4.1-1
Checking if Gluu Server isn't running...
Your changes wil

[2016-02-25 17:14] #90 closed

[2016-02-25 18:46] iromli commented on #88
@dmogn Some entries are rejected. Here's the log from rejected file:

[code]

Note, i'm using `101-ox.ldif` schema as seen in this [template](https://github.com/GluuFederation/community-edition-setup/blob/6fa384f38bdb6ba0463105e80d06dd5714767559/static/opendj/101-ox.ldif)

[2016-02-25 19:21] dmogn opened #94 "Error in 2.4.2 Setup.py"
Ryan Kinzy: It seems like there is an issue in setup.py script:
"/opt/gluu-server-2.4.2/install/community-edition-setup/setup.py"
Method a bit weird by itself but also it does not take into consideration Ubuntu where apache service is called apache2 rather than httpd which cause failure during installation:
Error:
Traceback (most recent call last):
 File "./setup.py", line 1756, in <module>
   ins

[2016-02-25 20:07] nynymike commented on #94
Fixed [927c88b](https://github.com/GluuFederation/community-edition-setup/commit/927c88ba265e6c4c41be406a0a0522aa2ae99ffa)

[2016-02-25 20:07] #94 closed

[2016-02-26 00:00] dmogn commented on #88
- Hm... uniqueIdentifier is part of exiting oxTrust classes. But latest 101.ldif does not define uniqueIdentifier attribute.

[2016-02-26 08:10] dmogn commented on #94
I have repeated a same bag (Ubuntu 14.04.4):

sirius@ksvb:~$ sudo dpkg -i Downloads/gluu-server-2.4.2_1-BETA3_amd64.deb
Selecting previously unselected package gluu-server-2.4.2.
(Reading database ... 254669 files and directories currently installed.)
Preparing to unpack .../gluu-server-2.4.2_1-BETA3_amd64.deb ...
Unpacking gluu-server-2.4.2 (1-BETA3) ...
Setting up gluu-server-2.4.2 (1-BETA3) ...

[2016-02-26 10:03] dmogn commented on #88
Fixed. The fix has been tested on BETA-3.

[2016-02-26 10:23] dmogn opened #95 "Asimba has not been installed in 2.4.2 Beta-3 Ubuntu"
I tried 2 times. Now asimba.war in webapps. No an error in console, setup.log,   setup_error.log. I found oxasimba.war file in /opt/dist with zero size.

Console:
GLUU.root@localhost:/install/community-edition-setup# ./setup.py

Installing Gluu Server...
Detected OS  :  ubuntu
Detected init:  init
Detected Apache:  2.4

Installing Gluu Server...

For more info see:
  ./setup.log
  ./setup_error.lo

[2016-02-28 01:05] iromli commented on #88
The entry seems good, however I found this error when clicked the Asimba menu in left sidebar:

[code]

Previously, I didn't see the error above and able to see a search form field.

[2016-02-28 15:23] mzico commented on #92
@nynymike , @adrian-gluu , @yurem: Do you think we should change the container name? Seems like  systemd-nspaw has some issues with naming in CentOS7.2?

[https://github.com/systemd/systemd/issues/1307](This) has some similarity with what we are getting for CentOS7.2

Stack trace:

`[root@zico ~]# /sbin/gluu-serverd-2.4.1 status
● systemd-nspawn@gluu-server-2.4.1.service - Container gluu/server/2.

[2016-02-28 19:46] dmogn commented on #95
All Ok in 2.4.2 Beta4.

[2016-02-28 19:46] #95 closed

[2016-02-29 23:17] iromli commented on #88
Fixed in oxTrust build date 2016-02-29.

[2016-02-29 23:17] #88 closed

[2016-03-01 18:58] mzico commented on #92
@aveekbu: I think we can test with 2.4.2 now as it's released.

[2016-03-02 19:19] aveekbu commented on #92
We are still facing the issue on new GluuCE 2.4.2. Here's my testing result goes,
[code]

[2016-03-02 19:59] zamilskhan opened #96 "CentOS 7.1 setup.py error"
The new package was installed with shibIdp, Asimba and CAS. The following error was found in the `setup_error.log` file. httpd and tomcat showed `inactive (dead)`.  Error for starting tomcat:

[code]
Error in setup_error.log
[code]

[2016-03-02 22:12] zamilskhan opened #97 "RHEL 6.x setup.py error"
The `setup_error.log` is given below; only the errors are given

[code]
Copying files to opendj was ok.
[code]
[code]

[2016-03-03 07:07] yurem commented on #97
I have suspicious that opendj in rhel6 isn't clean. Andrian can you check if we didn't run it installation already?

Regarding other errors... All of them are not clear because according to them wget can download file into /opt/dists but jar can't extract it.I have idea. There is no /usr/bin/jar command in rhel. In this case we need to find where it in rhel and update setup to cover this case too.

[2016-03-03 11:09] adrian-gluu commented on #97
the hole /opt folder is the same in all of them, ubuntu centos and rhel, in rhel we didnt run any installation

[2016-03-03 13:49] yurem commented on #97
@adrian-gluu , @zamilskhan can you check this?

[2016-03-03 15:29] zamilskhan commented on #97
@yurem there is no `/usr/bin/jar` in RHEL 6.7 and I could not find any jar using the find command.

[2016-03-03 15:34] yurem commented on #97
@adrian-gluu If there is no OenJDK 1.7.x in RHEL we need to install it
@nynymike

[2016-03-04 05:53] adrian-gluu commented on #97
http://repo.gluu.org/rhel/7/gluu-server-2.4.2-1-1.rhel7.x86_64.rpm
http://repo.gluu.org/rhel/testing/gluu-server-2.4.2-1-1.rhel6.x86_64.rpm

[2016-03-04 08:48] yurem commented on #97
Which OpenjDK version we uses in RHEL ?

[2016-03-04 15:12] adrian-purism commented on #97
1.7.x

[2016-03-04 17:09] aveekbu commented on #96
@zamilskhan I've encountered the same error on CentOS 7.2 as well.

[2016-03-04 20:01] zamilskhan commented on #96
New error in 7.1 It does not start now

[code]

[2016-03-05 06:36] mzico opened #98 "Increase Gluu-LDAP security"
From: https://support.gluu.org/identity-management/increase-default-opendj-aci-security-2517

[2016-03-05 06:54] madumlao commented on #98
My current suggestion for managing LDAP-based client applications is to simply have a gluu user (which is also an LDAP user) with a boolean attribute for LDAP readonly access.

Perhaps gluuIsLdapReader?

Pro: simplicity
Con: no easy way to list all Ldap readers from the Gluu interface. not clearly separated from the other types of SSO client applications.

---
Another approach might be to have a s

[2016-03-05 20:50] adrian-gluu commented on #96
can you test this only on centos 7.2:
http://repo.gluu.org/centos/7/gluu-server-2.4.2-1-1.centos7.x86_64.rpm

[2016-03-06 08:31] mzico commented on #92
@adrian-gluu :

Tried with `http://repo.gluu.org/centos/7/gluu-server-2.4.2-1-1.centos7.x86_64.rpm`.

Problems:

1. Problem with iptables:

    [root@gluu_server_2 certs]# /bin/systemctl status  iptables.service
    ● iptables.service
    Loaded: not-found (Reason: No such file or directory)
    Active: inactive (dead)
    [root@gluu_server_2 certs]# /bin/systemctl start iptables.service
    Faile

[2016-03-07 06:14] mzico commented on #96
@adrian-gluu : it doesn't work. [https://github.com/GluuFederation/community-edition-setup/issues/92](Here) is the link.

[2016-03-07 08:52] yurem commented on #98
I offer to combine 2 and 3 points.
In next release we can add new base RDN like: ou=ldap_users,o=gluu
And allow users from this group read/write access to LDAP. We need to do this first before adding GUI or order to make sure that it's working approach. And there is no hidden problems.

On next step we can add GUI which you described in point #3  to allow user permissions.

[2016-03-07 11:05] madumlao commented on #98
@yurem, that's a very flexible and forward compatible approach. Existing deployments can add that LDAP base and any LDAP users moving forward without interfering with their current user database.  Then come the time for the update, they may export their existing ldap users to the new tree as needed.

Perhaps we should advise existing users to replace their ACI of

    ds-cfg-global-aci: (targetatt

[2016-03-07 11:44] yurem commented on #98
@madumlao thank you for your help with this. I like this approach. I'm going to reassign this issue to @ganesh-at-wiw he worked on initial support issue: increase-default-opendj-aci-security-2517
he should add:
1) new ldif with this new user definition and load it during setup.
2) add additional ds-config call to apply rule which you offer to use.

Also I offer to add new additional empty ObjectCl

[2016-03-07 15:02] nynymike commented on #98
1. We discourage use of the LDAP by applications other than the Gluu Server
  2. Root DN's bypass aci, search limits and other user constraints.
  3. If you wanted to create a seperate Root DN account, the right place to do so would be under `cn=Root DNs,cn=config`
  4. If you want to add other system users (non-root), then you can make a different ou under cn=config. System account should not go

[2016-03-07 16:55] adrian-purism commented on #96
can you test this one?
http://repo.gluu.org/centos/7/gluu-server-2.4.2-1-2.centos7.x86_64.rpm

[2016-03-07 18:21] zamilskhan commented on #92
@adrian-gluu:

[code]
[code]

[2016-03-07 22:41] adrian-gluu commented on #92
can you guys test this one:
http://repo.gluu.org/centos/7/gluu-server-2.4.2-1-3.centos7.x86_64.rpm

[2016-03-07 23:29] zamilskhan commented on #92
This works, installation and GUI

[2016-03-08 07:19] madumlao commented on #98
I'd also prefer to not have to support LDAP, Mike. But LDAP supported by a lot more legacy apps than OIC or SAML and not all of these we can change.

My opinion is, if you don't show users a limited, tightened up interface for ldap accounts, they are just going to end up deploying it wide open to work with their existing apps just because it's convenient. Might as well be explicit as to what their

[2016-03-08 12:00] adrian-gluu commented on #92
ok if this works on 7.2 i will use the same technique to build rhel7 pkg

[2016-03-08 13:50] adrian-gluu commented on #92
can you guys test RHEL7 pkg?
http://repo.gluu.org/rhel/7/gluu-server-2.4.2-1-2.rhel7.x86_64.rpm

[2016-03-08 18:07] nynymike opened #99 "Pairwise calculation key and salt needs to be random"
![image](https://cloud.githubusercontent.com/assets/3717101/13611070/472327f8-e526-11e5-8bf4-94cfb5716399.png)

[2016-03-09 15:10] nynymike opened #100 "Ensure 'hostname' is not 'localhost' by default"
Install will fail if the 'localhost' is used as the hostname during setup. If this is the only hostname detected, it should not be provided as the default during setup.

[2016-03-10 17:00] rajumariappan opened #101 "Not able to bring up URL after install."
I am pretty new this product. Can you help me what I to fix this issue.
Thanks,
Raju.
URL:
     https://192.168.40.82/identity/home?cid=12
In UI  Error:
   The page isn't redirecting properly
In oxauth.log Log:
 2016-03-10 16:53:39,967 ERROR [org.xdi.oxauth.model.config.ConfigurationFactory] Failed to find entry:ou=oxauth,ou=configuration,inum=@!B796.2276.81AF.7B6E!0002!1385.123A,ou=appliances,o=g

[2016-03-10 17:08] mzico commented on #101
@rajumariappan : Please post your questions in https://support.gluu.org
Github is only for bug report.

[2016-03-10 17:08] #101 closed

[2016-03-16 16:13] willow9886 opened #102 "Reporting Metrics in CE"
We need to capture information about people using the free open source Gluu Server CE. Yura and I spoke about writing a script that users is enabled by default (but can be opted-out of) that pushes us metrics about server use, health, etc.

Perhaps @yurem can add some thoughts about which metrics we can obtain.

A few ideas of information that might be helpful to capture:
- Trust relationships (ho

[2016-03-17 00:03] aliaksander-samuseu opened #103 "CE 2.4.2-1-3 rpm package lacks json/simplejson libraries"
Full package name: **gluu-server-2.4.2-1-3.centos7.x86_64** (corrected my mistake, it's not a src package, but a stable release)

Not sure is it issue or its removal was planned. My Ubuntu 2.4.2-1-1 instance still contains them under `/opt/jython/Lib/json`. I believe some of our stock custom scripts may still use it for parsing configuration files. I had an issue with running CR script which (with

[2016-03-17 01:46] adrian-gluu commented on #103
this is wrong! why are you trying src.rpm instead of .rpm?

[2016-03-17 11:58] aliaksander-samuseu commented on #103
Adrian, I'm installing it the usual way, with yum install from repo. I just copypasted the name of the package as dpkg displays it when list of installed packages is queried.

[2016-03-17 12:01] aliaksander-samuseu commented on #103
Here is the full output:

[code]

[2016-03-17 12:47] mzico commented on #103
@adrian-gluu: Adrian, if we follow public CentOS7 doc ( https://gluu.org/docs/deployment/centos7/)..... this 'src.rpm' is coming. IMO, if that's not stable, shouldn't we point public doc which can pull stable release ( i.e. only rpm )

[2016-03-17 15:57] adrian-gluu commented on #103
I'm using the same jython for both deb and rpm /opt/jython/
Can you double check this issue?Yura did you get this error?

[2016-03-17 16:08] aliaksander-samuseu commented on #103
I used this command to verify my suspicion (after I spotted the include error in script log when it failed):
find /opt/jython/Lib/ -ipath "*json*"

For the latest CentOS7 package (1-3) it shows nothing. For 2.4.2-1-1 deb instance it shows a lot of subfolders.

[2016-03-17 18:18] nynymike commented on #97
Aveek, can you check to see if this issue is resolved?

[2016-03-17 21:04] yurem commented on #103
`
su - tomcat
 /opt/jython/bin/jython --version
Jython 2.7.0
`

[2016-03-17 21:06] yurem commented on #103
size of /opt/jython-2.7.0 in Cent OS 6.7 CE 2.4.2 is 172 575 884

[2016-03-17 21:07] adrian-gluu commented on #97
http://repo.gluu.org/rhel/testing/gluu-server-2.4.2-1-1.rhel6.x86_64.rpm

[2016-03-17 21:07] yurem commented on #103
Adrian, can you install your rpm and check if the size and jython version are is ok?

[2016-03-18 02:03] JohnTheodore opened #104 "Use the host's DNS, not google dns"
We deployed gluu-server, but our nodes don't have Internet access. Though we obviously have working dns. It makes more sense for /etc/resolv.conf in the chroot to match what is in /etc/resolv.conf on the host. versus picking google dns.

[2016-03-18 15:03] yurem opened #105 "Use one ox-ldap.properties file across all applications"
It's idea for discussion.Now we have 4 xyz-ldap.properties files:
oxauth-ldap.properties
oxtrust-ldap.properties
oxidp-ldap.properties
oxasimba-ldap.properties

The next one will be:
oxcas-ldap.properties

In these all applications we uses same LDAP layer (code and backend).

I offer by default to install only one: ox-ldap.properties

After that we only need to apply small update to these applicat

[2016-03-18 16:28] yurem commented on #104
You can log into gluu-server and change DNS setting according to your requirements. Please open support ticket here support.gluu.org if needed

[2016-03-18 16:28] #104 closed

[2016-03-18 16:41] adrian-gluu commented on #104
I think google DNS are the best option because they are unbreakable, in case your ISP dns goes down google dns will still up and our app witll continue working

[2016-03-18 19:49] JohnTheodore commented on #104
This issue was mostly for the default setting, I know I can change it.

I'm assuming more agency to the person installing the software. If they setup their DNS a certain way, overriding them with google dns seems unnecessary. Even if Google DNS is more stable than their incumbent DNS.

For most people in the world, going to DNS servers in California is very high latency. Normally you'd want DNS to

[2016-03-18 20:23] adrian-gluu commented on #104
Hello John you can open a ticket in support.gluu.org and also if you don't want to use google DNS you can use your own editing the the /etc/resolv.conf file.

Thanks!

[2016-03-18 20:32] mzico commented on #105
+1

[2016-03-19 16:35] gk1github commented on #92
Guys today I installed Gluu on Centos, these 2 work together !!
CentOS Linux release 7.2.1511 (Core)
gluu-server-2.4.2-1-3.centos7.x86_64.rpm

[2016-03-19 19:17] mzico commented on #92
@gk1github thanks for confirmation.

[2016-03-19 19:17] #92 closed

[2016-03-21 15:49] adrian-gluu commented on #103
just fixed jython:
http://repo.gluu.org/centos/7/gluu-server-2.4.2-1-4.centos7.x86_64.rpm

[2016-03-21 19:27] zamilskhan commented on #96
It is resolved,

[2016-03-21 19:27] #96 closed

[2016-03-21 19:29] aveekbu commented on #97
RHEL6.x arch x.86_64 is now working fine.
The Issue is resolved!

[2016-03-21 19:29] #97 closed

[2016-03-22 21:49] JohnTheodore opened #106 "Infinite certificate error loop from tomcat when installing legitimate certificates"
I followed this guide: https://www.gluu.org/docs/deployment/ubuntu/ .. and everything works fine. Once I replace httpd.cert and httpd.key with my own legitimate certificate, I have a redirect loop. I can load the login page, and my cert is working (the green lock shows, etc, so it's legit). Though after I click login.. I get a redirect loop.

 here is https://gist.github.com/JohnTheodore/ac138c62b

[2016-03-23 11:10] mzico commented on #106
You also need to update java keystore ( cacerts ). Check [this](https://support.gluu.org/other/unable-to-login-after-updating-cert-and-key-files-2409) out. And feel free to open ticket in our support portal: https://support.gluu.org

[2016-03-23 11:10] #106 closed

[2016-03-23 11:34] yurem opened #107 "Support OpenDJ 4"
Current setup allow to use OpenDJ 4.
But LDAP is empty after install.
To resolve this issue we need to add workaround. We need to restart OpenDJ after running dsconfig command. This allows successfully to load ldif with default structure.

[2016-03-23 17:15] yurem commented on #107
Fixed: https://github.com/GluuFederation/community-edition-setup/commit/302306990244a43d16cb4872d0c7b719f1daf98e

[2016-03-23 17:15] #107 closed

[2016-03-24 22:38] JohnTheodore commented on #106
Internal Server Error

The server encountered an internal error or misconfiguration and was unable to complete your request.

Please contact the server administrator, support@gluu.org and inform them of the time the error occurred, and anything you might have done that may have caused the error.

[2016-03-24 22:49] JohnTheodore commented on #106
hmm, I can't register or login either. Is the support webapp broken? when I get directed to idp.gluu.org it just hangs until I 500

[2016-03-24 22:52] willow9886 commented on #106
Sorry, John. It's a really old IDP. We're in the process of upgrading. Let me restart OpenDJ and that should do the trick.

[2016-03-24 23:10] JohnTheodore commented on #106
@willow9886 I'm still getting a 500. also this page isn't index by google. I would have used the google cache if it was.

[2016-03-24 23:14] willow9886 commented on #106
OK it should be up now.

[2016-03-24 23:17] JohnTheodore commented on #106
Now I get "You are not autorized to see requested page!", note the spelling error also.

I'm clicking this link: https://support.gluu.org/other/unable-to-login-after-updating-cert-and-key-files-2409

[2016-03-24 23:18] willow9886 commented on #106
This is a private ticket from one of our customers... perhaps it was at one point public, but they added private details and decided to make the whole ticket private.

[2016-03-24 23:19] JohnTheodore commented on #106
Can you copy and paste the relevant bits into this thread?

[2016-03-24 23:25] willow9886 commented on #106
Yea, let me try to summarize:

- Better to use a specific CN than wildcard cert.
- Video of Zico [performing the cert update](https://www.youtube.com/watch?v=0Ba8i7jbJPY&feature=youtu.be).
- You must update the key in `/etc/pki/java` directory.
- The keystore password is: changeit
- There's currently no way to set certificates at installation time

Hopefully that helps. Let us know if you need add

[2016-03-25 09:35] yurem opened #108 "Can't apply ACL rules to OpenDJ 3"
Current setup supports OpenDJ 4. There is working example: ce-dev.gluu.org
But, there is one error in log:
09:11:12 03/25/16 The value
(targetattr!="userPassword||authPassword||changes||changeNumber||changeType||changeTime||targetDN||newRDN||newSuperior||deleteOldRDN||targetEntryUUID||changeInitiatorsName||changeLogCookie||includedAttributes")(version
3.0; acl "Anonymous read access"; allow (read,

[2016-03-25 09:36] yurem commented on #108
More info from setup.log
`
09:11:09 03/25/16 Running: /bin/su ldap -c cd /opt/opendj/bin ;  /opt/opendj/bin/dsconfig --trustAll --no-prompt --hostname localhost --port 4444 --bindDN "cn=directory manager" --bindPasswordFile /home/ldap/.pw set-access-control-handler-prop --remove global-aci:'(targetattr!="userPassword||authPassword||changes||changeNumber||changeType||changeTime||targetDN||newRDN||n

[2016-03-25 23:34] nynymike commented on #108
I don't see why we need anonymous access at all. We should open an issue with FR just to be helpful though and let them know.

[2016-03-26 15:57] yurem commented on #105
oxIdp and oxCas attempts to read [ox-ldap.properties](https://github.com/GluuFederation/community-edition-setup/blob/master/templates/ox-ldap.properties) first

We need to improve oxAuth/oxTrust/oxAsimba now

[2016-03-27 20:54] mzico opened #109 "Package gluu-server-2.4.2-1-2.centos6.x86_64.rpm is not signed"
CentOS: 6.7
Doc: https://gluu.org/docs/deployment/centos/

![notsigned](https://cloud.githubusercontent.com/assets/7156097/14067832/2d1b1920-f434-11e5-8061-1ca67aa141d9.png)

[2016-03-28 15:11] adrian-gluu commented on #109
just re signed again

[2016-03-28 15:11] #109 closed

[2016-04-02 00:29] adrian-gluu commented on #71
to set the timezone try service gluu-server login and after that inside of the container:
ln -s /usr/share/zoneinfo/xxxx   /etc/localtime

where XXXX is your timezone or try this command tzselect

[2016-04-04 14:52] yurem commented on #105
Applications should use next logic:
    Check oxzyx-ldap.properties availability.
    Read ox-ldap.properties if isn't.
    Delete oxzyx-ldap.properties creation from the installer.

Sample method: https://github.com/GluuFederation/oxTrust/blob/master/openid-auth-client/src/main/java/org/gluu/oxauth/client/conf/Configuration.java#L111

Code which uses it String ldapConfigurationFileName = "oxzyx-l

[2016-04-07 08:55] yurem opened #110 "Allog to specify log level via maven parameter"
Now we have ability to specify oxAuth/oxTrust  log level via profiles. In our profiles by default log level is INFO. It's right log level for release builds. But for development we need TRACE or DEBUG log level.

Our oxAuth/oxTrust should support next parameter:
-Dgluu.log.level=TRACE

[2016-04-07 15:08] yurem commented on #105
Fixed

[2016-04-07 15:08] #105 closed

[2016-04-08 14:02] tecoholic opened #111 "Use default IP in setup.py when using setup.properties file"
setup.py shows the system IP address and domain name when doing a fresh install. For e.g.,

[code]

But when using a `setup.properties` file when migrating between versions, it doesn't have a default.

[code]
It would be nice to have the default just like when we are doing a fresh install.

[2016-04-08 20:23] dmogn opened #112 "No a message for asimba setup IO failure"
setup.py output:

[code]

setup_error.log:

[code]

[2016-04-13 02:00] #112 closed

[2016-04-14 19:35] nynymike commented on #111
We're going to address this in 2.4.4. For now, just edit the properties file for the new server.

[2016-04-14 20:03] ganesh-at-wiw commented on #111
https://github.com/GluuFederation/community-edition-setup/commit/3545304ff83c3ddd62bbbb9983cfcd7beaf10d57#diff-2eeaed663bd0d25b7e608891384b7298

Above are the changes in setup.py to cover your suggestion.

[2016-04-14 20:03] #111 closed

[2016-04-19 03:02] tecoholic opened #113 "VERSION file not updated for any release after 2.0.1"
The [VERSION](https://github.com/GluuFederation/community-edition-setup/blob/master/VERSION) hasn't been updated post 2.0.1 in any of the branches.

[2016-04-19 08:40] yurem commented on #113
I've removed this file. The actual version number is in setup.py
https://github.com/GluuFederation/community-edition-setup/blob/master/setup.py#L46

[2016-04-19 08:40] #113 closed

[2016-04-20 07:37] yurem opened #114 "Setup detect RHEL 6.7 properly"
Right now setup asks to select OS:
Select the number for the Operating System from the following list:
  [1]   centos
  [2]   redhat
  [3]   fedora
  [4]   ubuntu
  [5]   debian
Please select a number listed above [1] : 2

[2016-04-20 07:45] yurem opened #115 "Install 3-rd party dependecies during setup"
Right now setup.py is mature tool to install CE

In creates /idp structure from scratch, extract Shib templates from oxTrust.war, prepare base folders structure.

In addition we can do next to avoid bugs during chroot creating/upgrade and speed up this process:
1) Remove /opt/apache-tomcat-7.0.65 folder and put source zip into /opt/dist
2) Remove /opt/jython-2.7.0 folder and put source zip into /o

[2016-04-20 08:01] yurem opened #116 "RHEL 6.7. Failed to creat log during opendj setup"
In setup.log there is error:

06:36:08 04/20/16 Unable to initialize log
java.io.IOException: Permission denied
	at java.io.UnixFileSystem.createFileExclusively(Native Method)
	at java.io.File.createTempFile(File.java:2001)
	at java.io.File.createTempFile(File.java:2047)
	at org.opends.quicksetup.installer.SetupLauncher.main(SetupLauncher.java:58)
Unable to initialize log
java.io.IOException: Perm

[2016-04-20 08:01] yurem commented on #116
Here is the problem
GLUU.[root@localhost community-edition-setup]# ls -l / | grep tmp
drwxr-xr-t.   4 root root  4096 Apr 20 06:35 tmp

[2016-04-20 08:02] yurem commented on #116
But right /tmp folder permission should be:
drwxrwxrwt.  15 root root  4096 Apr 20 04:01 tmp

[2016-04-20 09:23] yurem opened #117 "RHEL 6.7 fix apache 2.4 configuration"

[2016-04-20 09:46] yurem opened #118 "RHEL 6.7 CE 2.4.3 packagin issues"
RHEL 6.7: Uncomment 2 lines in postinstall regading /tmp/user.list and /tmp/group.list

RHEL 6.7: Make sure that next files in /opt/gluu-server-2.4.3/tmp confrorms OS: group.list, user.list, system_group.list, system_user.list, profile

[2016-04-20 09:47] yurem opened #119 "RHEL 7.2 CE 2.4.3 packaging issues"
1) RHEL 7.2: OpenDj 2.6 -> OpenDJ 3.0

2) RHEL 7.2: Add check_ssl command

3) RHEL 7.2: Make sure that next files in /opt/gluu-server-2.4.3/tmp confrorms OS: group.list, user.list, system_group.list, system_user.list, profile

[2016-04-20 09:47] yurem opened #120 "CentOS 7.0 CE 2.4.3 packaging issues"
CentOS 7.0: OpenDj 2.6 -> OpenDJ 3.0

[2016-04-20 09:55] yurem commented on #114
Fixed

[2016-04-20 09:55] #114 closed

[2016-04-20 09:55] yurem commented on #117
Fixed

[2016-04-20 09:55] #117 closed

[2016-04-20 09:55] yurem commented on #118
https://github.com/GluuFederation/community-edition-setup/issues/116

[2016-04-20 11:15] yurem commented on #108
Fixed

[2016-04-20 11:15] #108 closed

[2016-04-20 14:20] adrian-gluu commented on #119
Just fixed on this one
http://repo.gluu.org/centos/7/gluu-server-2.4.3-1-2.centos7.x86_64.rpm

[2016-04-20 14:20] #119 closed

[2016-04-20 14:21] adrian-gluu commented on #118
fixed:
http://repo.gluu.org/centos/testing/gluu-server-2.4.3-1-2.centos6.x86_64.rpm

[2016-04-20 14:21] #118 closed

[2016-04-20 14:21] adrian-gluu commented on #120
fixed:
http://repo.gluu.org/centos/7/gluu-server-2.4.3-1-2.centos7.x86_64.rpm

[2016-04-20 14:21] #120 closed

[2016-04-20 15:33] #116 closed

[2016-04-20 15:35] yurem commented on #50
Can't reproduce on CE 2.4.3

[2016-04-20 15:35] #50 closed

[2016-04-20 16:51] adrian-gluu commented on #116
fixed again http://repo.gluu.org/centos/testing/gluu-server-2.4.3-1-2.centos6.x86_64.rpm

[2016-04-20 21:49] zeroluck opened #121 "chroot environment should pull /etc/resolv.conf from actual host"
As referenced in https://support.gluu.org/installation/cant-resolve-dns-names-inside-chroot-2294 when you install gluu-server on CentOS, the DNS server is hardcoded to 8.8.8.8 (google) within the chroot environment. This doesn't work in some environments. It would be nice if /etc/resolv.conf was synced with the actual host or at least pulled from the actual host OS on creation.

The referenced tic

[2016-04-25 18:01] yurem opened #122 "Deploy bcprov-jdk16-1.46.jar into tomcat_home/endorsed"
The solution should depends on method of resolving [this](https://github.com/GluuFederation/oxAuth/issues/205) issue

[2016-04-26 21:29] zamilskhan commented on #73
This issue has been reported for 2.4.3. [Ticket link](https://support.gluu.org/installation/admin-portal-stops-working-after-restart-on-fresh-install-of-gluu-server-243-2672#at9997)

[2016-04-27 12:30] yurem commented on #73
@ganesh-at-wiw, @adrian-gluu I think it happens because tomcat start IDP quicker than OpenDJ start LDAP backends
It will be easy to reproduce in multi-core quick VM and probablu it exists in other CE versions too.
In gluu-script we need to add delay to check if LDAP service was started before running tomcat.

[2016-04-27 16:16] yurem opened #123 "Debian 8.4 support"
I've reviewed current CE 2.4.3 for Debian 8.4. It's ready to release by 80%

Here are problems:
1) Missing fodler /opt/gluu-server-2.4.3/sys/class/net/lo
2) Missing folder /opt/gluu-server-2.4.3/lib/modules
3) Replace /opt from other up to date CE (CentOS 6.7 or 7.0)
4) Copy /tmp/group.list and /tmp/user.list from other up to date CE
5) Regenerate and review files /tmp/system_group.list /tmp/syste

[2016-04-27 16:19] yurem commented on #123
10)  dpkg -r gluu-server-2.4.3 don't stop gluu-server!!!

[2016-04-27 16:29] yurem commented on #123
11) /opt/gluu-server-2.4.3/dev contains a loot of garbage. Please check what we have in chroot CentOS 7.0 folder.

[2016-04-27 16:55] adrian-gluu commented on #123
sorted  1-5 and 8-9 and 10-11
am ready to rebuild the pkg please let me know when i can run fetch_sources and rebuild the pkg

[2016-04-27 21:04] adrian-gluu commented on #123
@yurem why we cannot use the same as ubuntu-14.04, apache 2 in debian 8 and ubuntu 16.04 is pretty much the same as in our old ubuntu deb pkg:
@ganesh-at-wiw We need to asks you to resolve point 7, Adrian, can give URL to test package

[2016-04-27 21:06] adrian-gluu commented on #123
@yurem
i think for this 2 steps:
6) Update setup.py to detect debian properly
7) Prepare simular to https://github.com/GluuFederation/community-edition-setup/blob/master/templates/httpd_2.4.conf apache2.conf for Debian

we can use our ubuntu 14.04 approach

[2016-04-28 07:58] yurem commented on #123
Tasks for new iteration:
1. Missing /var/run/tomcat
2. Remove /tmp.new
3. Clean up /tmp/system_group.list and /tmp/system_user.list There is duplicity and extra space in each line
4. Apply Ganesh changes
Ganesh Dutt Sharma: few modifications for Debian new version CE
Ganesh Dutt Sharma: 1. a2enmod headers
Ganesh Dutt Sharma: 2. a2dismod antiloris
Ganesh Dutt Sharma: 3. a2enmod proxy
Ganesh Dutt Sh

[2016-04-28 08:02] yurem opened #124 "Remove duplicate apache conf file"
Currently there are 2 gluu conf apache files. I think in order to simplify setup we should keep only one. Can we remove https_gluu_2.4.conf and update setup.py? Are the same? Here is diff:
    --- https_gluu.conf	Thu Apr 14 21:26:22 2016
    +++ https_gluu_2.4.conf	Thu Apr 14 21:26:22 2016

    @@ -1,3 +1,5 @@
    +# for Apache 2.4.*
    +
     <VirtualHost  %(ip)s:80>
             ServerName %(ho

[2016-04-28 08:12] yurem opened #125 "Review CentOS/Redhat httpd.conf and httpd_2.4.conf"
Currently there is strange approach in configuring apache:
1) In Ubuntu/Debian we uses default apache2.conf
2) In CentOS/Redhat we render httpd.conf and httpd_2.4.conf

Point 2 is not very secure approach because our template is static and we can miss some major configuration updates.
Is it possible to not overwrite system httpd.conf and httpd_2.4.conf in setup?
Which custom changes we are install

[2016-04-28 14:26] adrian-gluu commented on #123
ok i added all those fixes into this one:
http://repo.gluu.org/debian/pool/main/testing/gluu-server-2.4.3_1-3~Db8jessie_amd64.deb

[2016-04-28 15:21] yurem commented on #123
1. Missing postinstall script. Please, copy it from ubuntu pkg.
2. Review all other package scripts... Compare them with Ubuntu packages scripts
3. Remove extra space at the end of each line in  /tmp/system_group.list and /tmp/system_user.list
4. Run fetch_source for 2.4.3 target. There is no latest setup in this build.
5. Rebuild deb

[2016-04-28 17:56] adrian-gluu commented on #123
sorted all the steps in this one:
http://repo.gluu.org/debian/pool/main/testing/gluu-server-2.4.3_1-4~Db8jessie_amd64.deb

[2016-04-29 16:19] tecoholic commented on #75
This bug is a serious issue in the upgradation process as the `setup.py` file parses the exported `setup.properties` and sets all these components to false.

[2016-04-29 18:45] mzico opened #126 "Gluu server not starting in CentOS 7.2"
Here is what I did before:

1. pushed 'yum update' inside container.
2. pushed 'yum update' outside container.
3. reboot VM
4. Now... Gluu Server is not starting

[code]

Trace:

[code]

[code]

[2016-05-01 03:33] adrian-gluu commented on #126
why you tried a yum upgrade inside of the chroot/container? We do that every release. it looks like yum upgrade did something that broke the container. you shouldn't do that. CentOS is now rolling and they change systemD and it syntax every release of it.

[2016-05-01 03:34] adrian-gluu commented on #126
@mzico please try it in a fresh VM a fresh install

[2016-05-01 05:33] mzico commented on #126
@adrian-gluu : It's one customer's VM and they wanted to push update. We need to know why it's break and how to fix it. Because they will definitely push update in every VM.

[2016-05-01 18:38] adrian-gluu commented on #126
you can push updates but not inside of the chroot it will break anything if we dont control it every release

[2016-05-02 05:34] ganesh-at-wiw commented on #126
We may like to publish in the docs that we should run only: "yum update" and not "yum upgrade".
Yum update should not hurt the chroot nor should it break it.

[2016-05-02 07:21] mzico commented on #126
@ganesh-at-wiw : I did 'yum update'.

[2016-05-02 07:22] mzico commented on #126
@ganesh-at-wiw : May be we need to learn more how to handle this situation because everyone will eventually go to 7 series if they are using RHEL/CentOS.

[2016-05-03 11:14] dollar007 opened #127 "Please add attributes and scope for imap connection"
I think we should define one LDAP attribtue called `gluuIMAPData` which contains a JSON:

[code]

There is a good online [tool](http://codebeautify.org/encrypt-decrypt) I found which has a number of two-way encryption algorithms.  We need to find an algorithm where we have compatible libraries for both Java and php.

OpenID Connect scope (this should NOT be a default scope!!!):
          'name' :

[2016-05-03 13:58] yurem commented on #127
In order to make right decision about this can you add more information to this issue.

1) Is it will be part of CE or we need this only for one specific instance?
2) Which application requests this scope?

[2016-05-03 20:33] willow9886 commented on #75
From Mike yesterday:

[2016-05-04 08:24] yurem commented on #123
It's almost ready. We need to rebuild it again with fetch-sources to include updated setup. This update contains fixes for path to cacerts and changing hostame in Debian 8.4

Also we need to apply attached patch
[optimize_perm.zip](https://github.com/GluuFederation/community-edition-setup/files/248389/optimize_perm.zip)
Unzip it to /tmp and run patch -p1 < optimize_perm.diff

[2016-05-04 13:52] adrian-gluu commented on #123
http://repo.gluu.org/debian/pool/main/testing/gluu-server-2.4.3_1-6~Db8jessie_amd64.deb

[2016-05-04 14:31] dmogn opened #128 "Add IDP v3 config templates."
In parallel with IDP v2 templates, do not replace until they will be full tested.

[2016-05-04 14:45] #123 closed

[2016-05-04 14:47] yurem opened #129 "Ubuntu 16.04 support"

[2016-05-04 15:27] yurem commented on #129
Setting up gluu-server-2.4.3 (1-1~xenial+Ub16.04) ...
dpkg: error processing package gluu-server-2.4.3 (--install):
 subprocess installed post-installation script returned error exit status 126
In Ubuntu 16.04

Also, @adrian-gluu are /tmp/system_(user/group) files from Ubuntu 16.04?

[2016-05-05 02:27] adrian-gluu commented on #129
here is why:
/usr/sbin/chroot /opt/gluu-server-2.4.3 /bin/su - root -c '/tmp/user.list'
/usr/sbin/chroot: failed to run command ‘/bin/su’: Permission denied
it looks like chroot cannot execute su am not sure how to fix that yet but i found what is causing it

[2016-05-05 08:44] yurem commented on #127
I will add them to 2.4.4

[2016-05-07 10:26] ganesh-at-wiw commented on #126
`Apr 29 13:42:00 localhost.localdomain systemd-nspawn[3920]: No image for machine 'gluu_server_2.4.2': No such file or directory`

Above line in logs means that the image is missing from /var/lib/container/.
Solution lies in creating the link like:

[code]

After that the problem of startup was resolved and we see the oxauth screen appearing.

[2016-05-07 10:26] #126 closed

[2016-05-07 17:58] ganesh-at-wiw commented on #124
Yura I think this is for apache2.2 vs 2.4.

[2016-05-07 19:21] yurem commented on #124
yes,both files looks very similar. Why we need to 2 files?

[2016-05-09 17:21] tecoholic commented on #75
I have pushed code that fixes this issue. Needs testing. Reopen if testing fails. I am testing on my end as well.

[2016-05-12 09:15] ganesh-at-wiw commented on #124
Both work fine at CentOS 7.2 and Ubuntu 16.04.
So, removing the file https_gluu_2.4.conf  which is unused.

[2016-05-12 09:15] #124 closed

[2016-05-13 21:11] aliaksander-samuseu opened #132 "Isn't our default setting for amount of memory allocated for Tomcat outdated?"
It's currently still on 1.5Gb, AFAICR, what probably was enough for 2.3.x instances, but clearly isn't for 2.4.x

Shouldn't we rise it to at least 3GB now? I've seen several tickets in which people were reporting issues with services failing to start and in the end it became clear that's because they simply left Tomcat's allocations at default value when they were running setup.py, assuming that t

[2016-05-13 21:56] nynymike commented on #132
Yes, I was thininking the same. Let's make the default 3GB, which would leave 1GB for LDAP.

[2016-05-16 23:24] pmmenzel opened #133 "Package gluu-server-2.4.3-1-4.centos6.x86_64.rpm is not signed"
similar to #109, but for 2.4.3
[code]

[2016-05-16 23:24] pmmenzel commented on #109
This is happening again with 2.4.3 #133

[2016-05-17 00:49] #133 closed

[2016-05-17 00:50] nynymike commented on #133
Community edition setup is not the place to reference package problems--its a component of the package. You need to raise this issue on https://support.gluu.org

[2016-05-17 09:34] adrian-gluu commented on #133
We just switched gpg keys for our repos, now pkgs was re signed you gonna be fine!

[2016-05-19 15:02] aliaksander-samuseu commented on #73
@yurem @adrian-gluu

What is the status of it? One of our customers has just reported it again happening on his new 6.7 test instance.

[2016-05-19 18:09] yurem commented on #73
@aliaksander-samuseu if we run services manually are we getting this issue?

[2016-05-23 10:15] mzico commented on #73
@aliaksander-samuseu !

[2016-05-26 18:18] aliaksander-samuseu opened #134 "Cron jobs don't start inside of the container of 2.4.3 CE deb packages"
Environment: Ubuntu 14.04, gluu-server-2.4.3-1.4

To reproduce:

You may try to check logs of the cron job running logmanager script that is already there from the beginning at `/opt/gluu/logs/logmanager.log`, or create a simple test job with `# crontab -e` like that:

[code]

and check whether this file is created

Here is [card in Trello](https://trello.com/c/at7onW4b/251-issue-with-no-cron-jobs

[2016-05-26 18:53] adrian-gluu commented on #134
did you check if the cron service is running?
/etc/init.d/cron or service cron status???

[2016-05-26 18:53] adrian-gluu commented on #134
also are you trying to run this form inside of the chroot or from the outside?
if this is an issue on the chroot did you check it the host outside of the chroot?
please confirm that

[2016-05-26 19:09] aliaksander-samuseu commented on #134
@adrian-gluu

Yes, we've tried to restart service many times, daemon is shown in pgrep's and ps's output, we've checked permissions on files, the theory that root user may have been locked due to password expiration and other causes you can find in google - nothing of that worked
[code]

[2016-05-26 19:10] aliaksander-samuseu commented on #134
Yes, the issue is only inside of chroot, cron works outside (we actually had to set the cronjob for cluster outside of the container as a temporal measure for one of our custmers)

[2016-05-26 19:28] adrian-gluu commented on #134
I will dig about it, but i don't have to much clue about it

[2016-05-26 20:33] nynymike commented on #73
It may depend on the amount of data in the LDAP server, or the memory available to the particular instance, rather than the OS version.

[2016-05-26 20:56] aliaksander-samuseu commented on #73
@yurem

Sorry, has just seen it. Not sure what do you mean by "manually". Issue is still the same as before - if you use "service gluu-server-2.4.3 start" from outside of the container - the issue happens. If you then move into the container and just restart tomcat - everything begins to work. So it's some sort of race condition that (it seems) has been fixed for other environments, but still happ

[2016-05-28 22:59] aliaksander-samuseu commented on #73
@yurem @nynymike @zamilskhan

I've just been able to confirm a similar issue in our 2.4.2 package installed on CentOS7. Though in this case it doesn't happen all the time when you start service manually, but just sometimes. I can't see any patterns, it can start without issues several times in a row, then on next attempt fail to start with a lot of "couldn't create ldap pool"/"couldn't load oxauth

[2016-05-31 05:26] yurem commented on #73
According to this we just run chroot with run level 3:
http://gitlab.gluu.org/root/gluu-ce-deb/blob/master/gluu-server.amd64/debian/gluu-server-2.4.3/etc/init.d/gluu-server-2.4.3#L73

We need to do:
1) review if after installing CE all services have right start/stop runlevel 3 order
2) update/fix setup to specify right order
3) check the same for all OS

I suspect systemd in CentOS 7/RHEL 7/etc ca

[2016-06-01 21:59] zamilskhan commented on #75
@tecoholic Tried on centos 6.6 with new fixed setup, getting error

[code]

[2016-06-02 18:42] ganesh-at-wiw commented on #73
Yura is right. The problem is connected to the running order of the services inside chroot.
For that I did the following steps:
1. Logged into chroot.
2. The chkconfig lines should look like below:
[code]
3. Once this is done, we need to run the commands:
[code]
4. Above commands will change the startup order of the services as below:
[code]

This output shows that the OpenDJ starts first at order

[2016-06-02 18:46] ganesh-at-wiw commented on #73
After carrying out above steps, the startup opendj connection errors inside tomcat logs had vanished.

[2016-06-02 18:48] mzico commented on #73
@ganesh-at-wiw : do you think we can add this checks out of the box in 7.x?

[2016-06-02 18:52] ganesh-at-wiw commented on #73
I do not know yet @mzico . If errors are being encountered in 7.x also, then we can change order in 7.x too. But the above solution is for 6.x only and for CentOS and RHEL.

[2016-06-02 21:56] adrian-gluu commented on #73
This is something we need to set in setup.py before build the rpm it wont work check this output:
[root@pkg-rpm gluu-ce-rpm-243]# chroot gluu-
chroot: cannot change root directory to gluu-: No such file or directory
[root@pkg-rpm gluu-ce-rpm-243]# chroot gluu-server-2.4.3/
GLUU.[root@pkg-rpm /]# grep chkconfig: /etc/init.d/{tomcat,opendj,httpd}
grep: /etc/init.d/tomcat: No such file or directory
/

[2016-06-07 15:24] nynymike commented on #73
Why is this issue outstanding for so long? This needs to be resolved ASAP.

[2016-06-07 18:10] dmogn opened #135 "FileNotFoundException: WEB-INF/lib/oxtrust-configuration-2.4.3-SNAPSHOT.jar"
From latest setup.py [master]:

17:55:34 06/07/16 Unpacking oxtrust-configuration.jar from identity.war...
17:55:34 06/07/16 Created dir: /opt/dist/tmp_identity
17:55:34 06/07/16 Running: /usr/bin/jar xf /opt/tomcat/webapps/identity.war WEB-INF/lib/oxtrust-configuration-2.4.3-SNAPSHOT.jar
17:55:34 06/07/16 Unpacking oxtrust-configuration.jar...
17:55:34 06/07/16 Running: /usr/bin/jar xf WEB-INF/li

[2016-06-07 18:13] dmogn commented on #135
Maybe early 2.4.4 for developers will solve it.

[2016-06-07 18:16] dmogn commented on #122
Can we upgrade bcprov-jdk16-1.46.jar to latest BC version?
Shib IDP3 needs v1.53.
I found that replacement bcprov-jdk16-1.46.jar with bcprov-jdk15on-154.jar works well.

[2016-06-09 18:15] aliaksander-samuseu commented on #73
@nynymike
Ganesh prepared solution for this one, we tested it today and he said he is adding it to main branch.

[2016-06-09 18:19] aliaksander-samuseu opened #137 "Proposal for tihgtening up security of our Apache package inside the container"
One of our clients proposes these changes to Gluu's default Apache's config file (from CentOS7 package):

Currently: `SSLProtocol all -SSLv2 -SSLv3 +TLSv1.2 +TLSv1.1 +TLSv1`

After: `SSLProtocol -ALL +TLSv1`

--

Currently: `SSLCipherSuite ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-SHA256:ECDH

[2016-06-09 21:01] ganesh-at-wiw commented on #73
I've committed the changes to separate branch and we'll test one rpm created out of this branch. If all works fine, we'll merge it in to master.

[2016-06-10 17:37] willow9886 commented on #137
This was a recommendation from one of EDU customers who has implemented this in his own environment...

@aliaksander-samuseu notes that:

@nynymike any thoughts? Perhaps we should assign to @zamilskhan for creation of an article in the docs about this?

Thanks, guys.

[2016-06-10 18:14] mzico commented on #137
One point... while applying new cipher suite... previously we tightened our ciphersuite according to this EDU but it turned out that.... 95% organizations are not ready ( or not in a position ) to align their setup to support the stronger setup from SSL.

So.. even if we include this in our default Gluu Server we might need to lower the level of SSL and CipherSuite to accommodate other people.

[2016-06-16 06:36] ganesh-at-wiw commented on #73
Changes merged to main branch and all seems well now.

[2016-06-16 06:36] #73 closed

[2016-06-16 07:03] ganesh-at-wiw commented on #125
Starting on this now.

[2016-06-16 14:11] mzico commented on #75
@tecoholic : Any news on this issue? Seems like making cluster is becoming harder if we can't use flag in second ( or..third ..fourth ) installation.

[2016-06-16 15:17] tecoholic commented on #75
@mzico I will investigate and update soon.

[2016-06-16 21:03] dmogn commented on #128
Done.

[2016-06-16 21:03] #128 closed

[2016-06-21 05:52] #132 closed

[2016-06-22 16:40] economike commented on #75
HI, was told to leave a comment here:

This is the error we get when running setup.py:

GLUU.[root@idp community-edition-setup]# ./setup.py -r

Use setup.py to configure your Gluu Server and to add initial data required for
oxAuth and oxTrust to start. If setup.properties is found in this folder, these
properties will automatically be used instead of the interactive setup.
Options:

    -a   Insta

[2016-06-22 20:45] zamilskhan commented on #75
Tested on CentOS6.6 with Shibboleth and Asimba. Worked fine @mzico @tecoholic

[2016-06-22 22:24] aliaksander-samuseu commented on #137
@mzico is right, most likely. And after talking to Jeff, it seems that this is something they prefer to use internally rather than something they would recommend as defaults. I'm not even sure whether we really need an article on that, as this is a standard security tunning which is covered by Apache-related docs all over the internet already.

[2016-06-22 22:54] aliaksander-samuseu opened #139 "Apache MPMs differ between Gluu's packages for different distros"
While helping a customer striving to prepare his instance for high load scenario, it became apparent for me that Apache installed as a part of Gluu packages has different MPMs (Multi-Processing Modules) right out of the box in different distros. Like, in my test ubuntu 2.4.3 instance [  mpm_event_module](http://httpd.apache.org/docs/current/mod/event.html) is configured (what is a good thing and a

[2016-06-22 23:01] dmogn opened #140 "add one command line option to allow install beta changes"
Yuriy Movchan:
add one command line option to allow install beta changes
And if user explicetly specify this option we can give user choise to select IDP 2 or 3

[2016-06-24 02:08] tecoholic commented on #75
@economike Thanks for pointing it out. It was fixed after the 2.4.3 release at https://github.com/GluuFederation/community-edition-setup/commit/0bc665a4ac76d867d7b4f8587d2e0abaff5f583d

@zamilskhan I am closing this issue for now then.

[2016-06-24 10:09] mzico commented on #75
@tecoholic , @zamilskhan and @economike : I'll give a try with 2.4.3 + CentOS6.x.
Will update you soon.

[2016-06-27 15:54] dmogn commented on #140
--allow_pre_released_applications

[2016-06-29 14:13] mzico commented on #75
@tecoholic @zamilskhan and @economike : I am confirming that... it's working fine in CentOS6.x.
Thanks for all your help, Gentlemen!

[2016-06-29 14:13] #75 closed

[2016-06-30 07:40] #140 closed

[2016-07-01 17:57] dmogn commented on #135
Still exists in the 2.4.4 Beta.

[2016-07-01 19:53] yurem commented on #135
You should put into CE oxtrust and setup with same version number

[2016-07-01 19:55] yurem commented on #135
In latest setup.py:

[code]

Hence oxtrust.war should have 2.4.4-SNAPSHOT version

There is no this bug in CE 2.4.4 beta2

[2016-07-01 19:56] yurem commented on #135
We can make setup.py smarter and use file pattern:  WEB-INF/lib/oxtrust-configuration-*.jar

[2016-07-04 16:21] dmogn commented on #135
07:23:40 07/04/16 Unpacking oxtrust-configuration.jar from identity.war...
07:23:40 07/04/16 Created dir: /opt/dist/tmp_identity
07:23:40 07/04/16 Running: /usr/bin/jar xf /opt/tomcat/webapps/identity.war WEB-INF/lib/oxtrust-configuration-*.jar
07:23:40 07/04/16 Unpacking oxtrust-configuration.jar...
07:23:40 07/04/16 Running: /usr/bin/jar xf WEB-INF/lib/oxtrust-configuration-*.jar
07:23:40 07/04/

[2016-07-05 15:10] dmogn commented on #135
I found the problem. oxtrust-configuration has been unpaked 2 times in setup.

Testing...

[2016-07-08 06:36] ganesh-at-wiw commented on #125
I've gone through the config files in detail.
At the end I came to the conclusion that keeping httpd.conf as custom is the best way.

With new versions we can incorporate different version as per distros.

In Ubuntu, the approach is different. Their the modules are totally separate from apache2.conf. So, there it's possible to use default apache2.conf. But in CentOS, the httpd.conf loads lots of m

[2016-07-08 07:07] dmogn commented on #135
Fixed.

[2016-07-08 07:07] #135 closed

[2016-07-08 19:14] aliaksander-samuseu commented on #137
I'm closing it now, seems it's too tight for a general instance.

[2016-07-08 19:14] #137 closed

[2016-07-08 19:30] aliaksander-samuseu opened #146 "To rise Tomcat's jvm's initial heap size"
This is related a bit to this [proposal](https://github.com/GluuFederation/community-edition-setup/issues/132)

We should be having our defaults for Tomcat's max heap risen in upcoming release, that's good. Just a another observation what could use some update too. A production 2.4.x instance I'm monitoring now (which is under little load due to summer holidays)  shows heap's utilization automatic

[2016-07-11 16:07] #146 closed

[2016-07-12 17:06] #125 closed

[2016-07-19 09:45] aliaksander-samuseu commented on #71
@adrian-gluu

It's not the issue, it would be more convenient though that it would be set automatically. Now we have the same request from our customer too: [link](https://support.gluu.org/installation/gluu-server-system-time-config-2686)

[2016-07-19 15:02] devmaster opened #150 "Integrate resolution to auto-config timezone/etc in rpm installer"
I was asked to put this in as a req on github. The gluu installer should setup/config whatever is needed such that the timestamps on the log entries actually match the data/time/tz on the server it was installed on.

https://support.gluu.org/installation/gluu-server-system-time-config-2686

[2016-07-19 20:38] ganesh-at-wiw commented on #115
Okay, tomcat procedure is ready.
Will add others.

[2016-07-21 12:05] yurem opened #152 "Invalid opendj runlevel configuration in Ubuntu 16.04"
There is no link to servicr opendj in runlevel 3 folder:
/etc/rc3.d

As result next commands doesn't allows to start opendj:
/etc/init.d/gluu-server-2.4.4 stop
/etc/init.d/gluu-server-2.4.4 start

In setup.log there is info which explains problem:

06:50:29 07/21/16 Running: /usr/sbin/update-rc.d opendj enable
06:50:29 07/21/16 update-rc.d: error: opendj Default-Start contains no runlevels, aborti

[2016-07-21 13:06] yurem commented on #152
Fixed

[2016-07-21 13:06] #152 closed

[2016-07-21 13:36] yurem opened #153 "Failed to start OpenDJ in RHEL 6.7 after restart"
Setup not configures opendj to run in 3 runlevel:

K10saslauthd     K35denyhosts    K89netconsole  S08iptables  S12rsyslog     S25netfs      S55memcached  S80postfix  S90crond   S99local
K15htcacheclean  K87restorecond  K89rdisc       S10network   S22messagebus  S26udev-post  S55sshd       S85httpd    S97tomcat

[2016-07-21 13:37] yurem opened #154 "check_ssl error in CentOS 6.7 CE"
GLUU.[root@localhost logs]# su - tomcat
[tomcat@localhost ~]$ check_ssl
unable to load certificate
140580307769160:error:0906D06C:PEM routines:PEM_read_bio:no start line:pem_lib.c:703:Expecting: TRUSTED CERTIFICATE
Traceback (most recent call last):
  File "/usr/local/bin/check_ssl.py", line 13, in <module>
    time_tup = time.strptime(t, '%b %d %H:%M:%S %Y %Z')
  File "/usr/lib64/python2.6/_strpt

[2016-07-21 13:47] yurem commented on #153
Fixed

[2016-07-21 13:47] #153 closed

[2016-07-21 18:05] yurem commented on #154
@uboznikov
There is this issue in CentOS/RHEL 6.7/7/0
I can reproduce it after VM suspend/resume. Once I did that hostname in VM becomes invalid.

I offer to ignore it because in real scenario customer can't suspend their server.

[2016-07-21 18:05] #154 closed

[2016-07-22 14:49] aliaksander-samuseu commented on #150
There is also a [relevant request](https://github.com/GluuFederation/community-edition-setup/issues/71) from before

[2016-07-22 14:55] mzico commented on #150
@devmaster : Let's follow [previous](https://github.com/GluuFederation/community-edition-setup/issues/71) ticket.

[2016-07-22 14:55] #150 closed

[2016-07-22 16:26] yurem opened #155 "Fix gluu-server 'restart' command"
gluu-server script have next command: stop/start/restat

stop/start works fine because user run them with some delay.
restart do the same. It calls stop/start methods. But it's not working propeprly becuase there is no this delay. The problem appears because in start method we check if all required ports are free. But java processes inside chroot requires some time to stop.

We need to call status

[2016-07-25 08:03] yuriyz opened #157 "Gluu Server does not SSL connection for localhost (prevents oxd from working on the same machine where Gluu Server installed)"
Bug described by this support ticket:
`https://support.gluu.org/integrations/ssl-exception-oxd-client-243-final-gluu-server-2-4-3-2975`

If connect to Gluu Server endpoints (for example https://ce-dev.gluu.org/.well-known/openid-configuration ) from outside it is returned as https. However if connect to it from the same machine it is not encrypted and its returned as plain connection (unencrypted)

[2016-07-26 11:58] yurem opened #158 "Move gluu-server initd/systemd scripts into setup/init folder"
Right now it's not easy to manage and modify init.d/system.d gluu-server scripts. The problem appears because we store them on build servers only (for each OS we have copy on each server).
In build process we use ./feth_sources.sh bash script which gets specified setup version. We need to modify it to extract required gluu-server script after downloading setup.

[2016-07-26 12:02] yurem opened #159 "Add function to configure cronjob for automatic updates"
During setup we need to create cronjob to do updates.

This process should be configuable. Installer should asks if user need this job and answe on questions about this job run frequency.

Default values are:
Install OS updates automatically: Y
Install OS updates: daily

For RHEL we need to do additional investigation. Can we enable these options?

[2016-07-28 18:11] iromli opened #160 "Error while indexing oxSectorIdentifierURI LDAP attribute"
During indexing LDAP attribute, I encountered an error as seen below:

[code]

Digging the https://github.com/GluuFederation/community-edition-setup/blob/version_2.4.4/static/opendj/opendj_index.json#L45, my guess is `oxSectorIdentifierURI` is not recognized anymore, as `101-ox.ldif` doesn't specify `oxSectorIdentifierURI`.

After modified the https://github.com/GluuFederation/community-edition-se

[2016-07-28 19:42] qbert2k commented on #160
oxSectorIdentifierURI was changed to oxSectorIdentifier to fix the issue oxAuth #186 Pairwise ID: Algorithm should use sector identifier not URI

[2016-07-28 19:52] iromli commented on #160
Thanks for the confirmation @qbert2k.

One question though, do we need to change https://github.com/GluuFederation/community-edition-setup/blob/version_2.4.4/static/opendj/opendj_index.json#L45 or leave it as is?

[2016-08-02 05:40] iromli commented on #160
I think it's fixed in 693461fbe63b63145563f5d7c0b7d6bbbc0147a5.

[2016-08-02 05:40] #160 closed

[2016-08-02 05:53] yurem commented on #122
We uses bcprov-jdk15on-154.j now

[2016-08-02 05:53] #122 closed

[2016-08-02 05:53] yurem commented on #129
Done

[2016-08-02 05:53] #129 closed

[2016-08-02 05:53] yurem commented on #155
Fixed

[2016-08-02 05:53] #155 closed

[2016-08-02 05:56] yurem commented on #103
We uses jython versio which provides this library

[2016-08-02 05:56] #103 closed

[2016-08-02 05:57] yurem commented on #110
Done already

[2016-08-02 05:57] #110 closed

[2016-08-02 06:00] yurem commented on #99
Fixed

[2016-08-02 06:00] #99 closed

[2016-08-02 06:00] #87 closed

[2016-08-03 23:29] nynymike opened #162 "Use import-ldif instead of ldapmodify to load data in import script"
If there are a lot of users, ldapmodify to import might take hours. A better option is to stop tomcat and the DS and to use the ``/opt/opendj/bin/import-ldif `` script, which is much faster.

It's also important to update `/opt/opendj/config/java.properties`  to give the import JVM as much memory as possible (perhaps add tomcat + ldap memory from setup.properties):

[code]

The run

[code]

To App

[2016-08-04 18:28] dmogn opened #163 "Add Certificate to keystore exception (Asimba's keystore)"
2.4.4, Ubuntu 16.04

INFO   | jvm 1    | 2016/08/04 18:22:26 | 2016-08-04 18:22:26,619 INFO  [org.gluu.oxtrust.service.asimba.AsimbaXMLConfigurationService] AsimbaXMLConfig keystoreFilePath: /etc/certs/asimbaIDP.jks
INFO   | jvm 1    | 2016/08/04 18:22:26 | 2016-08-04 18:22:26,621 INFO  [org.gluu.oxtrust.service.asimba.AsimbaXMLConfigurationService] AsimbaXMLConfig keystoreType: JKS
INFO   | jvm 1

[2016-08-09 07:05] ganesh-at-wiw commented on #115
Jython procedure is ready.
going to work on opendj now.

[2016-08-09 18:32] ganesh-at-wiw commented on #115
Prepared opendj as well.
Created new branch install_procedures_ganesh.
Next will be the creation of packages.

[2016-08-09 18:32] #115 closed

[2016-08-09 18:37] #159 closed

[2016-08-10 19:54] mzico opened #164 "setup.py with -s not installing shibd in 2.4.4"
OS: CentOS6.x
How to reproduce:
- Get 'setup.properties.last'
- Use upper one and 'setup.py -s' in another VM
- Two type of errors:
  - oxTrustConf JSON merging not happening:  `INFO   | jvm 1    | 2016/08/10 19:03:41 | 2016-08-10 19:03:41,830 ERROR [org.gluu.oxtrust.config.OxTrustConfiguration] Failed to load configuration from LDAP
    INFO   | jvm 1    | 2016/08/10 19:03:41 | org.gluu.site.ldap

[2016-08-17 00:29] nynymike opened #165 "Switch from OpenDJ to OpenLDAP"
OpenLDAP has all the packages we need, and Symas has a commitment to open source. Also, OpenLDAP has an LDAP proxy, which gives us a way to split up the data and handle bigger data sets.

[2016-08-17 15:11] dmogn commented on #165
Asimba-related schemas now exists for OpenDJ only.

[2016-08-18 16:48] yurem commented on #115
I've merged this into master.

Now we have mach easier approach to update tomcat/jyton/opendj in all  supported OS.
Also this should help with new chroot development.

[2016-08-19 15:17] willow9886 commented on #127
@yurem we need this updated in order to use our roundcube oxd plugin.. any chance we can get an earlier fix for this?

[2016-08-19 16:07] nynymike commented on #127
These attributes should be prefixed either "gluu" or "ox" if they are our attributes.

[2016-08-19 16:09] nynymike commented on #127
I'm assigning this to shekhar. We need to add the attribute to the opendj schema, we need to add it to gluuPerson objectclass, and we need to update the template attributes.ldif

[2016-08-23 02:01] lrockwell commented on #164
Having the similiar issues on RHEL 7.2 64bit

Traceback (most recent call last):
  File "./setup.py", line 2141, in <module>
    installObject.apache_version = installObject.determineApacheVersionForOS()
  File "./setup.py", line 732, in determineApacheVersionForOS
    return self.determineApacheVersion("httpd")
  File "./setup.py", line 720, in determineApacheVersion
    apache_version = p.stdout

[2016-08-23 02:27] nynymike commented on #164
As a workaround, use the interactive installation and just select the Shib IDP component when prompted.

[2016-08-25 17:04] nynymike opened #167 "Remove Unused Shib IDP Services"
No one uses the Attribute Service (attributes are sent in the SSO assertion) and no one uses artifact endpoints (which in fact are not even mapped in apache. Let's remove this to reduce the size of the SAML metadata from the initial configuration.

Attribute Service
Artifact Endpoints
SAML 1.1 or Shib 1.3 endpoints
See [InCommon recommendations](https://spaces.internet2.edu/display/InCFederation/P

[2016-08-25 17:17] nynymike opened #168 "Disable UsernamePassword Handler"
I was testing a SAML client that included this in the `AuthnRequest`

[code]
I was surprised when I got back this form... which is certainly not going to work:

![image](https://cloud.githubusercontent.com/assets/3717101/17978897/c1b82802-6abd-11e6-89de-39a4a53030c4.png)

Let's comment out U/P login handler.  Configuration file: `/opt/idp/conf/handler.xml`

[code]

[2016-08-25 17:45] yurem commented on #168
@mzico can you update template in oxTrust: https://github.com/GluuFederation/oxTrust/tree/master/configuration/template/shibboleth2/idp/handler.xml ?

[2016-08-25 17:45] #168 closed

[2016-08-25 18:29] mzico commented on #168
@yurem : done.

[2016-08-25 19:25] yurem commented on #168
Thanks, it will be part of 2.4.5. Our setup extract templates from identity.war and copy them to right place during install.

[2016-08-26 13:50] yurem opened #169 "Remove second defintion of gluuStatus attribute"
There are 2 definitions of gluuStatus in attributes.ldif:
1) https://github.com/GluuFederation/community-edition-setup/blob/master/templates/attributes.ldif#L793
2) https://github.com/GluuFederation/community-edition-setup/blob/master/templates/attributes.ldif#L1093

This duplicity led to issue with SCIM. We need to keep only one definition.

Also this fix should be part of 2.4.1 SP1

[2016-08-26 14:09] dalareo opened #170 "Dockerizing Gluu Server"
I am aware of **Docker Edition** of Gluu, but what I am trying to get is a **_dockerized Gluu CE_** in order to create a template to be delivered into [EduCaaS](http://educaas.io) (open learning environment built over Rancher).
I am creating a Dockerfile (attached to this message), but I guess I need also to attach to my "gluu-server" container a Tomcat container and a database one. Anybody workin

[2016-08-29 19:03] aliaksander-samuseu commented on #134
Hi, @adrian-gluu

I'm now observing the same issue in gluu-server-2.4.4-1-1.centos6.rpm package installed on CentOS 6.7 We probably should give it another look. That also means that our logmanager script won't be running

[2016-08-31 17:14] shekhar16 commented on #169
Fixed.

[2016-08-31 23:45] adrian-gluu commented on #158
https://repo.gluu.org/centos/testing/gluu-server-2.4.4-1-3.centos6.x86_64.rpm
https://repo.gluu.org/ubuntu/pool/main/trusty-devel/gluu-server-2.4.4_1-3~trusty+Ub14.04_amd64.deb

[2016-09-02 15:04] aliaksander-samuseu opened #171 "Add a section for csync2 tool's logs to our log rotation script."
Was proposed by Gene in [this ticket](https://support.gluu.org/outages/oxtrust-wasnt-allow-to-access-user-data-3175/#at14431). We use csync2 in our manual cluster solution. Currently it simply overwrites its own logs at each run. It would be useful to have them stored for some time for auditing purposes, in that case we need them be archived/removed as time goes.

Here is Gene's opinion on how it

[2016-09-05 15:37] tecoholic commented on #162
This has been implemented in the new script [import244.py](https://github.com/GluuFederation/community-edition-setup/blob/master/static/scripts/import244.py)

[2016-09-05 15:37] #162 closed

[2016-09-05 15:41] tecoholic opened #172 "service opendj stop failing in CentOS 7.2"
The command `service opendj stop` is failing in CentOS 7.2 with the following output

[code]

Since the Directory Server cannot be stopped. Upgrades are not possible in CentOS 7.2

[2016-09-05 15:44] tecoholic commented on #172
@yurem helped testing and confirms it. He noted, `su - ldap /opt/opendj/bin/stop-ds` also reports the same error. Hence OpenDJ installation is broken in this OS

[2016-09-05 17:08] ganesh-at-wiw commented on #172
Which server? Can you please provide more information?

[2016-09-05 17:13] tecoholic commented on #172
This is not on a particular server. This is something wrong with the gluu-server-2.4.4 package for CentOS 7.2. I and @yurem checked this, later @mzico had the same issue as well. Since you helped with 2.4.5 setup updates, @yurem suggested this assigned to you. Can you see why this is happening?

[2016-09-05 18:26] mzico commented on #162
@tecoholic @zamilskhan @nynymike : I think we can test this by 500K users?
Here is my suggestion:

- Install 2.4.3
- Generate 500K users in 2.4.3
- Try to upgrade to 2.4.4
- Let's see how ldif-import goes

?

[2016-09-05 18:27] mzico commented on #172
@ganesh-at-wiw : We can try with one DO CentOS7.2 VM may be?

[2016-09-05 19:10] yurem commented on #172
I reproduced it in clean CE 2.4.4 install

[2016-09-05 19:11] yurem commented on #172
In ourde to reproduce it you can install CE 2.4.4 into CentOS 7.2 and run:
service opendj stop

[2016-09-05 19:31] zamilskhan commented on #162
@mzico sure.

[2016-09-06 17:34] tecoholic commented on #171
@aliaksander-samuseu I don't work on this part of the project. Maybe there is a mistake in ticket assignment.

[2016-09-06 17:49] ganesh-at-wiw commented on #172
Did we try systemctl command? This is expected to run.

   [root@gluu_server_2 ~]# systemctl start opendj
   [root@gluu_server_2 ~]# systemctl stop tomcat
   [root@gluu_server_2 ~]# systemctl start tomcat

[2016-09-07 16:44] yurem opened #173 "Allow admin to selct which container to use : tomcat or Jetty"
oxAuth/oxTrust are ready to start under jetty.
We need to support to run oxauth.war/identity.war under jetty 9.3

[2016-09-07 19:45] nynymike commented on #173
I think we should just get rid of tomcat. Less options means less support headaches.

[2016-09-12 15:58] dmogn commented on #173
oxAsimba are ready to start under jetty too.

[2016-09-12 17:24] yurem commented on #173
I agree, less options is better for us

[2016-09-13 13:44] willow9886 commented on #127
@shekhar16 any update on this?

[2016-09-29 16:33] aliaksander-samuseu opened #176 "Tomcat/OpenDJ services run under root user insided containers of CentOS7/RHEL7-based instances."
Results of quick survey I did show that in containers of the latest packages (2.4.3-2.4.4)  based on CentOS7/RHEL7 distros services of Tomcat and OpenDJ run under root user, instead of "tomcat"/"ldap" users, respectively.  I just run`ps -aux | grep -i java` on those vms within container to check for this. This behavior can't be seen in containers based on CentOS6.x or Ubuntu 14.02 distros.

[2016-10-06 17:09] mzico commented on #172
[ldap@idp ~]$ systemctl stop opendj
==== AUTHENTICATING FOR org.freedesktop.systemd1.manage-units ===
Authentication is required to manage system services or units.
Authenticating as: root
polkit-agent-helper-1: needs to be setuid root
Error: Incorrect permissions on /usr/lib/polkit-1/polkit-agent-helper-1 (needs to be setuid root)
==== AUTHENTICATION FAILED ===
Failed to stop opendj.service: Acce

[2016-10-06 17:13] mzico opened #177 "Filesystem permission is messed up in CentOS/RHEL7.x"
Copying texts from email...

[code]

[output_permission_by_root_apache_tomcat.txt.gz](https://github.com/GluuFederation/community-edition-setup/files/514392/output_permission_by_root_apache_tomcat.txt.gz)

[Another](https://github.com/GluuFederation/community-edition-setup/issues/172) ticket has similarity with this.

[2016-10-06 18:28] zamilskhan commented on #172
CentOS Linux release 7.2.1511 (Core)
CentOS Linux release 7.2.1511 (Core)
cpe:/o:centos:centos:7
[root@centos7 ~]# /usr/sbin/gluu-serverd-2.4.3 login
Last login: Thu Oct  6 14:25:26 2016 from ip6-localhost
Welcome to the Gluu Server!
[root@centos7 ~]# service opendj start
[root@centos7 ~]# service opendj stop
[06/Oct/2016:14:27:33 -0400] category=PLUGGABLE severity=NOTICE msgID=org.opends.messages

[2016-10-06 18:40] mzico commented on #172
@zamilskhan : how about user 'ldap'? Let's go to /opt/opendj/bin/ and initiate stop/start

[2016-10-06 18:50] zamilskhan commented on #172
RHEL Status: service opendj start/stop now working.
-bash-4.2# ./stop-ds
Stopping Server...
[06/Oct/2016:14:50:05 -0400] category=PLUGGABLE severity=NOTICE msgID=org.opends.messages.backend.370 msg=The backend site is now taken offline
[06/Oct/2016:14:50:05 -0400] category=PLUGGABLE severity=NOTICE msgID=org.opends.messages.backend.370 msg=The backend userRoot is now taken offline
[06/Oct/2016:14:

[2016-10-06 19:04] mzico commented on #172
@zamilskhan : Kool! CentOS7.2?

[2016-10-06 19:06] zamilskhan commented on #172
Centos 7.2 (1511)
[code]

[2016-10-06 19:23] mzico commented on #172
@zamilskhan : Cool. Seems like me and @tecoholic need you to solve our VMs then. I'll call for your help.

[2016-10-07 12:07] ganesh-at-wiw commented on #172
I'm also working on this in local VM.

[2016-10-07 14:32] shekhar16 commented on #127
it is already done.
https://github.com/GluuFederation/oxTrust/issues/253

[2016-10-11 18:58] yurem opened #179 "Migration to Jetty and Oracle JRE 1.8"
There are few points which we need to resolve now:
1) Fix oxAuth /userinfo enpoint
2) For some reasons jetty ignores at startup WEB-INF/web.xml from war files. As result it not start applications servlets.
3) Should we remove IDP2 att all? Is oxTrust ready to support IDP3?
4) Now all applications uses JRE 1.8. We need to check all parts. If they are ok we can remove OpenJDK from chroot to reduce r

[2016-10-11 19:31] yurem commented on #179
It runs them successfully. But it not start Servlets. In Jetty 9.3 test.war there is example test.war with web.xml. I will try to find out the difference and resolve this issue.

[2016-10-12 10:03] ganesh-at-wiw commented on #176
I've added my changes to https://github.com/GluuFederation/community-edition-setup/tree/ganesh-tomcat-user-fix. RPM build process is going on. As soon as it's tested, I'll intimate.

[2016-10-12 10:20] ganesh-at-wiw commented on #176
I've fixed the tomcat and opendj scripts to run under tomcat and ldap users resp.
RPM package build is going on. After testing it, I can confirm if things are working well and can request Yura to merge the package.

[2016-10-12 22:25] aliaksander-samuseu commented on #176
Checked Ganesh's fix method, and it worked for me.

[2016-10-13 10:59] yurem commented on #179
I added point 5 and 6. I think we need to resolve them too

[2016-10-13 18:46] yurem opened #181 "Andd new sample dynamic scope "permission""

[2016-10-13 22:08] antrecu commented on #126
same issue present on gluu-server-2.4.4 on Ubuntu 14.04. after vm restart, gluu server won't start again

[2016-10-14 09:03] ganesh-at-wiw commented on #176
Closing this and now the rpm will verify the further working.

[2016-10-14 09:03] #176 closed

[2016-10-17 23:08] ryno75 opened #182 "setup.py fails to render test templates if -d argument is specified in 2.4.4"
Running setup.py while specifying the -d argument with a path to the install directory will fail during the render_test_templates() function on line 1779.
Specifically the following two lines (1778 and 1779) are troublesome...
[code]
if you want to remove `./template/` from `fullPath` you ought to do it by using something like the string replace() method or regex.  And it seems the intent is to re

[2016-10-18 18:05] yurem commented on #179
Fixed points 1 and 2

[2016-10-18 18:52] ryno75 opened #184 "setup.py is saving base64 properties with newlines in setup.properties.last in 2.4.4"
Setup.py is saving the setup.properties.last file with multi-line values to base64 properties.  When trying to utilize a properties file with those multiline values (with the -f option) it fails to retrieve correct values for any multiline properties.
- Example

[code]

But that should actually look like...

[code]

If we simply change the `encode('base64')` lines in setup.py to use translate or r

[2016-10-18 18:54] ryno75 commented on #184
@nynymike have you encountered this?  Any comments?  Looks like a patch to Properties.py will be needed but perhaps I am missing something.

[2016-10-18 18:58] ryno75 commented on #184
Maybe the easy/correct answer is to just change setup.py to use no whitespace in its base64 values.

[2016-10-18 22:14] #182 closed

[2016-10-19 13:55] yurem commented on #184
I've added [new property](https://github.com/GluuFederation/community-edition-setup/blob/master/setup.py#L63):

[code]

Now during rendering templates setup also uses this dictionary.

It's better to put base64 variables in this dictionary. We don't need to persist these values. Setup always generate them from source values at runtime.

[2016-10-19 13:57] yurem opened #186 "Automatically divide memory between applciations"
It's part of https://github.com/GluuFederation/community-edition-setup/issues/179 but it worth to put it as independent issue.

Automatically configure memory settings for all applications based on specified memory and components during install. We need to split memory across all applications based on rules like these:

[code]

Sample memory calculation:

[code]

[2016-10-19 13:57] yurem commented on #186
Implemeneted

[2016-10-19 13:57] #186 closed

[2016-10-19 14:16] yurem opened #187 "Deprecate IDP2"
Should we remove IDP2 att all? Is oxTrust ready to support IDP3?

@nynymike , @uboznikov What do you think?

[2016-10-19 14:19] yurem opened #188 "Remove OpenJDK from distirbutions"
This issue depends on https://github.com/GluuFederation/community-edition-setup/issues/187

If we will replace IDP2 with IDP3 I think we can remove OpenJDK from rpm/deb to save space and avoid conflicts and extra memory usage.

All other components uses Server JRE now: http://www.oracle.com/technetwork/java/javase/downloads/server-jre8-downloads-2133154.html

[2016-10-19 14:23] yurem commented on #179
I've moved few points to separate issues to simplify tracking

[2016-10-19 14:23] #179 closed

[2016-10-19 16:47] ryno75 commented on #184
Hmm... that still isn't going to fix the newline problem.  the python string `encode` method will always insert those line breaks into the resultant string which are incompatible with the setup.properties file (based on how `properties.py` currently works.  Not to mention... having newlines in base64 is really only useful for human readability.  In something like a properties file we should never

[2016-10-19 17:30] nynymike commented on #184
Can you send me a linkedin? https://www.linkedin.com/in/nynymike

[2016-10-19 17:44] nynymike commented on #188
aren't we still using OpenJDK for oxAuth / oxTrust? It sounds like you'd rather just ditch OpenJDK...

[2016-10-19 18:56] nynymike commented on #187
In Gluu Server version 3 we should remove IDP v2. However, Gluu Server 2.4.4 should still contain Shib IDPv2.

[2016-10-23 23:02] dmogn commented on #163
Fixed.

https://github.com/GluuFederation/community-edition-setup/commit/a145261f7f47d98a19ef7dd9b1ddb1ff34c8345f#diff-2eeaed663bd0d25b7e608891384b7298

[2016-10-23 23:02] #163 closed

[2016-10-24 18:43] ganesh-at-wiw commented on #158
now 2.4.4 versions are copied to github project: https://github.com/GluuFederation/community-edition-package

[2016-10-25 15:09] uboznikov commented on #187
[Shibboleth IDP v3](https://github.com/GluuFederation/community-edition-setup/commit/f8ef17e84d39406f073f47d8baac1fc9a1cceb92#diff-00facdf0aabaa8edf9db81b860e9f1fb)

[2016-10-27 04:43] dmogn opened #189 "Asimba setup errors"
gluu-server-3.0.0 setup log:

04:38:47 10/27/16 Rendering template /opt/shibboleth-idp/metadata/idp-metadata.xml
04:38:47 10/27/16 Running: /opt/jre/bin/java -classpath /opt/dist/war/idp3_cml_keygenerator.jar org.xdi.oxshibboleth.keygenerator.KeyGenerator /opt/shibboleth-idp/credentials tMmmGqeCDlpF
04:38:48 10/27/16 Error: Could not find or load main class org.xdi.oxshibboleth.keygenerator.KeyGen

[2016-10-27 15:16] yurem opened #190 "Verify if oxauth/oxtrust customizations work fine after migration to jetty"

[2016-10-27 18:07] aliaksander-samuseu opened #191 "No /etc/resolv.conf in deb container right after installation"
Environment:
Gluu CE 2.4.4 from [here](https://repo.gluu.org/ubuntu/pool/main/trusty-devel/gluu-server-2.4.4_1-3~trusty+Ub14.04_amd64.deb), Ubuntu 14.04

Steps to reproduce:
1. Conduct regular installation and run `setup.py` script enabling Shibboleth, Asimba and oxAuth-RP components in addition to enabled by default
2. Run `# cat /etc/resolv.conf` in the container, check `/install/community-editi

[2016-10-27 18:31] aliaksander-samuseu commented on #191
To circumvent it, you may create `/run/resolvconf/resolv.conf` file and put "nameserver 8.8.8.8" into it right before running setup.py.

[2016-10-28 16:46] mzico opened #192 "DNS resolver file changing in CentOS7.2"
Problem: After performing setup.py operation, 'resolv.conf' ingredient changing.
Affected piece: asimba.war is not downloading if we select it.

Situation:
- Before running setup.py, 'resolv.conf' looks like:

[code]
- After performing setup.py operation:

[code]

[2016-11-03 09:47] ganesh-at-wiw commented on #158
The scripts have been merged and are working fine with Ubuntu 16.04, 14.04 and CentOS 6.x.

[2016-11-03 10:16] ganesh-at-wiw commented on #158
Adding support for RHEL 6 and Debian 8 as well.

[2016-11-03 16:53] yurem opened #193 "Remove tomcat from CE"

[2016-11-03 16:53] yurem opened #194 "Remove IDP2 from CE"

[2016-11-04 08:06] uboznikov commented on #194
@yurem Can we not bundle idp.war in /etc/dist/war? This war is from IDP 2, and wget could not seem to overwrite it. I removed this before I run setup.py and the "Caused by: java.io.FileNotFoundException: /opt/idp/conf/internal.xml (No such file or directory)" error went away. And also if all other IDP wars not be bundled because these are being downloaded when IDP is chosen to be installed. Other

[2016-11-04 16:42] yurem opened #196 "Integrate passport.js into CE 3.0.0"
Here is instruction how to do this:
https://github.com/GluuFederation/gluu-passport/blob/master/README.md

[2016-11-08 05:55] yurem opened #197 "Instead of throwing error about missing VLV SCIM should show information for admin with link to documentation page"
It's about https://support.gluu.org/customization/3376/nullpointerexception-on-users-filter/#at16652

I think we should not show stack trace if there is no VLV index. We can display error message that admin should create VLV next VLV index and add refeence to documentation page about these inexes creation.

[2016-11-08 14:24] uboznikov commented on #194
Screenshot of /opt/dist/war from latest binary 11/7/2016, with old IDP war

![old-idp-war](https://cloud.githubusercontent.com/assets/16329085/20102694/f858135c-a601-11e6-8b2b-89439b8c8808.png)

[2016-11-09 14:18] aliaksander-samuseu opened #198 "Hostname is changed outside of the container each time Gluu service is started"
Environment:
CentOS 6.7, RHEL 6.8, Gluu CE 2.4.4 SP2

Preconditions:
Gluu CE instance is fully installed the way doc portal recommends, is configured to start up at boot, and the machine has been restarted at least once after that

Steps to reproduce:
1. Acquire access to console of the machine with Gluu installed (ssh etc)
2. Change hostname of the machine outside of the container to anything els

[2016-11-10 14:45] uboznikov opened #199 "Replace check_ssl with Java-based cert checker"
https://github.com/GluuFederation/gluu-util/tree/master/check_ssl

[2016-11-12 01:07] #189 closed

[2016-11-14 13:26] yurem opened #200 "Warning during installing OpenLDAP"
This error message we get in setup.log during install. It's not major issue because CE services can use LDAP after install.

[code]

[2016-11-14 13:29] yurem opened #201 "CAS startup error"
After CE 3.0.0 Alpha install there are next errors in log:

[code]

[2016-11-14 13:34] yurem opened #202 "Asimba startup error"
After installing CE with Asimba there is next error in log:

[code]

[2016-11-14 13:36] yurem opened #203 "Review CE documenation"
We need to review patches, commands, cert locations, application components location, etc... in current CE documentation to conform new upcoming release.

[2016-11-14 13:37] yurem commented on #203
@willow9886 , please reassign it to proper Doc or QA specialist

[2016-11-14 13:49] yurem opened #204 "All required files needed to install IDP3 should be part of dist"
Now CE downloads at IDP3 install: idp.war, idp3_cml_keygenerator.jar, shibboleth-idp.jar
These files should be in /opt/dist/war
We need to move these method to downlaod fresh copy of specified files to to downloadWarFiles method.

[2016-11-14 13:52] yurem opened #205 "Copy latest OpenDJ schema changes to OpenLDAP schema"
After sync OpenLDAP changes from OpenDJ schema we need to remove https://github.com/GluuFederation/community-edition-setup/tree/master/static/opendj/deprecated to notify all developers to use OpenLDAp schema files.
Setup not uses these depreacted files now.

[2016-11-14 13:56] yurem opened #206 "Add passport support"
We need to instruct setup to install Passport an all dependencies if user select to install it

[2016-11-14 14:20] yurem commented on #172
It's deprecated

[2016-11-14 14:20] #172 closed

[2016-11-14 14:22] #200 closed

[2016-11-14 14:52] yurem commented on #167
@Val, can you review if this is needed for IDP3 too?

[2016-11-14 14:53] yurem commented on #98
@Zico, is OpenLDAP requires this fix?

[2016-11-14 14:53] yurem commented on #194
Done!

[2016-11-14 14:53] #194 closed

[2016-11-14 14:54] yurem commented on #173
Only Jetty now.

[2016-11-14 14:54] #173 closed

[2016-11-14 14:54] yurem commented on #165
Done

[2016-11-14 14:54] #165 closed

[2016-11-14 14:54] yurem commented on #193
Done

[2016-11-14 14:54] #193 closed

[2016-11-14 14:58] yurem commented on #43
There is no this property in oxAuth config now: federation-signing-kid
I'm closing this issue.

[2016-11-14 14:58] #43 closed

[2016-11-14 15:06] yurem commented on #56
Fixed in CE 3.0.0 Alpha

[2016-11-14 15:06] #56 closed

[2016-11-14 15:07] yurem commented on #169
Fixed

[2016-11-14 15:07] #169 closed

[2016-11-14 15:08] yurem commented on #196
Duplicate: https://github.com/GluuFederation/community-edition-setup/issues/206

[2016-11-14 15:08] #196 closed

[2016-11-14 15:09] yurem commented on #188
Fixed. Only server Oracle JRE exists in CE now

[2016-11-14 15:09] #188 closed

[2016-11-14 15:09] yurem commented on #187
Fixed

[2016-11-14 15:09] #187 closed

[2016-11-14 15:21] yurem commented on #121
Fixed. CE 3.0.0 do this in 2 places:

1. On package install

2. On CE startup

[2016-11-14 15:21] #121 closed

[2016-11-14 15:23] yurem commented on #57
It's not mandatory information which not lead to any services startup problems. I'm mowing this to 3.0.1

[2016-11-14 15:33] yurem commented on #170
In CE 3.0.0 we are going to replace many parts: http://gluu.org/CE-roadmap
We can back to this question after 3.0.0 release

[2016-11-14 15:35] yurem commented on #191
Fixed in similar issue: https://github.com/GluuFederation/community-edition-setup/issues/121

[2016-11-14 15:35] #191 closed

[2016-11-14 15:45] yurem commented on #157
Why we need to issue certs for localhost?
In CE 3.0.0 all applications we run on http port under jetty. And we uses apache http proxy to protect them by SSL.

[2016-11-14 16:38] yurem commented on #192
We applied to CentOS 6.7 / Ubuntu 14.04 fix: https://github.com/GluuFederation/community-edition-setup/issues/121

Also we are going to apply the same to all other OS

[2016-11-14 16:38] yurem commented on #192
Can you reopen it if needed?

[2016-11-14 16:38] #192 closed

[2016-11-14 16:47] yurem commented on #184
@uboznikov , @dmogn can review you asimba/cas/idp3 properties to store variables which we should not put to setup.properties.last in templateRenderingDict.

Setup.py has all required changes. You only need to do replacements like this. From:
[code]
to:
[code]

Example variables: idp3EncryptionCertificateText, idp3SigningCertificateText

[2016-11-14 18:43] willow9886 commented on #203
also cc @jschristie

[2016-11-15 02:00] dmogn commented on #202
https://github.com/GluuFederation/gluu-Asimba/issues/29

[2016-11-16 13:51] uboznikov opened #208 "Do not import IdP v2 to v3"
Just a heads-up, the following import scripts should not import IdP v2 files (`opt/idp`) to IdP v3 (`/opt/shibboleth-idp`) in Release 3.0.0.

[import24.py](https://github.com/GluuFederation/community-edition-setup/blob/master/static/scripts/import24.py)
[import244.py](https://github.com/GluuFederation/community-edition-setup/blob/master/static/scripts/import244.py)

IdP v3 should re-generate all t

[2016-11-16 16:40] yurem opened #209 "Update custom scripts from latest python sources"
Also we need to make sure that in Super Gluu script in all place we replaced oxPush2 with new brand name

[2016-11-16 17:43] yurem commented on #199
I've moved it to oxTrust

[2016-11-16 17:43] #199 closed

[2016-11-16 17:49] yurem commented on #127
Fixed in https://github.com/GluuFederation/community-edition-setup/commit/74096d1d54615d07969a6f62a1dc98e7eae053d4

[2016-11-16 17:49] #127 closed

[2016-11-16 17:50] yurem commented on #158
@ganesh-at-wiw any updates on this? Can we remove 2.4.4 version files from repo? In 2.4.4 we still use old scripts.

[2016-11-16 18:49] yurem commented on #91
We need to add commands to setup to configure: jetty, ldap, root users inside chroot

[2016-11-16 19:11] #197 closed

[2016-11-17 13:48] ganesh-at-wiw commented on #158
Hi Yura, debian testing is going on and one more thing is there that echo statements do not run properly.
So, working on that.

[2016-11-17 18:16] ganesh-at-wiw commented on #158
Removed rest of the unnecessary checks for RedHat based OSs.

[2016-11-17 18:16] #158 closed

[2016-11-19 07:51] yurem commented on #204
Thanks

[2016-11-19 07:51] #204 closed

[2016-11-19 08:13] yurem commented on #202
Fixed

[2016-11-19 08:13] #202 closed

[2016-11-19 08:16] yurem opened #210 "Asimba jdbc resouces"
In the current build at asimba startup there is error:
[code]

@dmogn What do you think? I think we are not using any internal/external JDBC sources in Asimba.
If this right we need to remove these lines from web.xml

[code]

[2016-11-19 08:18] yurem commented on #164
@mzico  can you verify this in latest CE 3.0.0 Alpha builds?

[2016-11-19 08:21] yurem commented on #177
@mzico I'm closing this because in CE 3.0.0 we removed these folders. Also I moved big part of manual chroot customizations into setup: user creations, folders structure, permissions, etc..

Please, reopen it if you will find permissions issues in CE 3.0.0

[2016-11-19 08:21] #177 closed

[2016-11-19 08:28] yurem opened #211 "There is no OpenLDAP logs under Ubuntu 14.04"

[2016-11-19 08:29] yurem commented on #211
@ganesh-at-wiw I think we need your admin skills to help with rsyslog configuration..

[2016-11-22 12:44] yurem commented on #209
Done

[2016-11-22 12:44] #209 closed

[2016-11-22 13:15] yurem commented on #181
https://github.com/GluuFederation/community-edition-setup/commit/b83d89f69b02a69897f12bf7bb47412f02686581

[2016-11-22 13:15] #181 closed

[2016-11-22 16:21] tecoholic commented on #211
@ganesh-at-wiw By default the rsyslog daemon runs as the user `message-bus` and doesn't log anything. When I run rsyslog from the terminal as `rsyslogd` it logs without issues. But when I run `service rsyslog start` it runs under the user `message-bus` hence doesn't log.

[2016-11-23 02:51] #205 closed

[2016-11-23 02:57] tecoholic commented on #208
I think we will be writing a `import3.py` given the amount of changes that have gone into the release. This issue will be closed when that script is ready. Thanks for the heads up.

[2016-11-23 07:10] uboznikov commented on #208
I have a second look on this and actually tested for good measure, and we indeed have to migrate some files, like the SP metadata and cert keys. Only the IdP-side templates are being re-generated. Sorry for the inconvenience. Will update when I get the whole picture. Thanks.

[2016-11-23 12:35] yurem opened #212 "Add utility to export private key from JKS"
It's part of #206

We need this utility because node.js not provides free libraries to read from proprietary JSK format.

[2016-11-23 12:40] yurem opened #213 "Add method to setup.py to export node RS client private cert from JSK to PEM"
It's part of #206

We need cert to sign JWT to do cert based authentication. As result we need method which do next:
- Run utility from #212 to get cert
- Save cert to place where node.js server can loads it
- Generate node.js configuration file with right client_id, path_to_cert, keyId, etc..

[2016-11-23 19:34] yurem commented on #213
Done

[2016-11-23 19:34] #213 closed

[2016-11-23 19:35] #212 closed

[2016-11-23 19:35] yurem commented on #91
Thank you for fix

[2016-11-23 19:35] #91 closed

[2016-11-23 19:38] yurem commented on #206
Added node.js and npm into CE

[2016-11-23 20:11] ganesh-at-wiw commented on #211
Starting this...

[2016-11-23 20:13] dmogn commented on #210
- I comment these JDBC references. Looks like it works.

Wrong path in jetty-adapted template:
@dmogn What do you think? I think we are not using any internal/external JDBC sources in Asimba.
(ASIMBAWA) [2016-11-23 20:05:47] [INFO] OAContextListener Updating configuration items with the items in file: /opt/jetty-9.3/temp/jetty-0.0.0.0-8084-asimba.war-_asimba-any-1806820672751588748.dir/webapp/WEB-

[2016-11-24 18:32] yurem commented on #201
Fixed

[2016-11-24 18:32] #201 closed

[2016-11-24 19:25] yurem opened #214 "Unable to connect to OpenLDAP using openldap.crt"
CAS gets error when it opening connection to LDAP:
Caused by: javax.net.ssl.SSLHandshakeException: java.security.cert.CertificateException: Hostname '[localhost]' does not match the hostname in the server's certificate

I think OpenLDAP cert should have CN=localhost instead of hostname

setup.py method
    def gen_cert(self, suffix, password, user='root'):

should allows to specify cn=localhost

[2016-11-24 19:31] mzico commented on #164
@yurem : Sorry... I missed the message. I'll test 3.0.0

[2016-11-25 08:16] yurem opened #215 "Update Saml script default parameters"
It's latest version of the script. We need to update default parameters to best fit for this script: https://github.com/GluuFederation/community-edition-setup/blob/master/templates/scripts.ldif#L1860

[2016-11-25 08:18] yurem opened #216 "Deprecate cutom user object class"
We need to find in all places references to ox-XYZ custom object class in order to remove them.

[2016-11-25 08:32] yurem commented on #210
We can try to get resources from war file. In 3.0.0 I decided to not do explode to avoid custom war modifications

[2016-11-25 09:02] dmogn commented on #210
Yes, there are path examples http://www.eclipse.org/jetty/documentation/9.3.x/configuring-specific-webapp-deployment.html

Fixing...

[2016-11-25 09:11] uboznikov opened #217 "Install JCE for Shibboleth v3"
https://wiki.shibboleth.net/confluence/display/IDP30/Installation

[2016-11-25 09:19] uboznikov commented on #214
I specified `hostname` for Shib v3 as `localhost` returns the same error. Is this ok?

[OpenLDAP needs the hostname entered during installation](https://github.com/GluuFederation/community-edition-setup/commit/d505920d06614f70518607212eb610d646957f8e)

[2016-11-25 10:01] uboznikov opened #218 "Configure IdP v3 on Jetty behind Apache httpd"
[Running the IdP on Jetty behind Apache httpd](https://wiki.shibboleth.net/confluence/display/IDP30/Running+the+IdP+on+Jetty+behind+Apache+httpd)

[2016-11-25 10:39] yurem commented on #218
Fixed, check if it works fine on new build with this update.

[2016-11-25 10:39] #218 closed

[2016-11-25 17:25] tecoholic commented on #216
@yurem Are you saying we don't need the ox-inumOrg objectclass at all? Can we remove that from the schema completely?

[2016-11-26 09:13] ganesh-at-wiw commented on #211
Prepared the work-around.
Now changing the setup.py to adjust to the changes.

[2016-11-28 10:56] ganesh-at-wiw commented on #211
https://github.com/GluuFederation/community-edition-setup/commit/4a7d26d7800ad091adeec3ffd013243baddbab50#diff-2eeaed663bd0d25b7e608891384b7298

Arun, please test for yourself and then we can close this issue.

[2016-11-28 14:25] yurem commented on #206
I think we need to speed up this.

Now we have done:
1) nodejs/npm install
2) Fix SCIM passport server to use signed JWT authorization method isntead of client_id/client_password
3) Shekhar added https://github.com/GluuFederation/community-edition-setup/blob/master/templates/oxpassport-config.json with hardcoded information.

[2016-11-28 14:33] yurem commented on #206
We need to do:
1) Fix oxpassport-config.json file. It's hould be template file
2) Load oxpassport-config.json at install to LDAP
3) Write instructions how to install passport server using current CE build
4) Convert instructions from step 3 to setup.py method
5) Few PassportRestWebService oxTrust changes:
  - Fix security bug in: https://github.com/GluuFederation/oxTrust/blob/master/server/src/mai

[2016-11-28 17:39] yurem opened #219 "Add command to generate JWKS"
Tool which we need to include: https://github.com/mitreid-connect/json-web-key-generator

In the packaging process, we should run "mvn package" and just create a fold called `/opt/json-web-key-generator` that has the README.md and the jar with dependencies. We might also want to create a shell script that automatically runs the `java -jar ` command and just appends the extra CLI options.

[2016-11-28 19:37] yurem commented on #211
@ganesh-at-wiw , can you specify which lines you changed in original file? I think it's better to apply fix to original file than include whole file into  setup.

[2016-11-29 05:06] ganesh-at-wiw commented on #211
Hi Yura, can you guide me on fixing, I can do that.
I just added three lines, specific to Ubuntu 14.04 logic only.

[2016-11-29 10:06] ganesh-at-wiw commented on #198
From my own experimentation and googling I reached same conclusion as is this post:
http://unix.stackexchange.com/questions/148514/how-can-i-force-chrooted-programs-to-use-a-virtual-ethernet-device
Reason is, both container and host use same set of environment variables.

Restart network service and it'll affect container. Restart gluu-server and it'll affect host.
It's going to be egg and chicken

[2016-11-29 10:23] ganesh-at-wiw commented on #139
The answer to your point 1 is that, we're using default configurations.
For point 2, I test it out and let you know.

[2016-11-29 11:03] yurem commented on #214
Now OpenLDAP CN=localhost

[2016-11-29 11:03] #214 closed

[2016-11-29 16:07] willow9886 opened #220 "Enforce uniqueness of email and uid in LDAP"
When SCIM tries to write a new user record to the LDAP server, LDAP should enforce uniqueness of the email and uid attributes.

If the email or uid are duplicate, LDAP should send an error message.

[2016-11-30 11:16] ganesh-at-wiw commented on #139
For point 2, we can enable worker module by uncommenting the line:
GLUU.[root@localhost community-edition-setup]# grep HTTPD /etc/sysconfig/httpd

and restarting httpd service.

[2016-11-30 15:14] mzico opened #221 "import244.py throwing error"
OS: CentOS6.x

[code]

[2016-11-30 15:30] yurem opened #222 "Setup don't run methods to configure indexes for attributes"
I didn't find in current setup places where we create indexes defined in this file:
https://github.com/GluuFederation/community-edition-setup/blob/version_2.4.4_sp2/static/opendj/opendj_index.json

Moreover there is no this file in 3.0.0

@tecoholic , is setup create indexes at setup?

[2016-11-30 15:57] yurem opened #223 "Include Twilio SMS script into CE"

[2016-11-30 18:17] ganesh-at-wiw commented on #139
I think we should keep things as such.
If need be, we can make changes for specific users only.

[2016-11-30 18:17] #139 closed

[2016-11-30 19:07] dmogn commented on #210
@yurem
I moved asimba.xml to community-edition-setup templates.    ( /etc/gluu/conf/asimba/asimba.xml after setup)

asimba.properties has been included in asimba.war.

So, now we can:
- update asimba.war without asimba.xml manipulations in asimba.war
- copy asimba.war to production right after maven.   setup.sh does not need reassembly asimba.war after keystore password change in asimba.war

[2016-11-30 20:03] yurem commented on #211
Can you give these 3 lines which you added?

In current builds with this update we get:
[code]

[2016-11-30 22:58] nynymike commented on #210
@dmogn can you make the updates to setup.py or do you need help from yura or someone else?

[2016-11-30 23:09] nynymike commented on #222
yes, this is a good point. The indexes are static in slapd.conf. They should be dynamically generated based on the json.

[2016-12-01 10:34] ganesh-at-wiw commented on #211
Yura, I added:
 ### rsyslog file customised for init.d
self.rsyslogInitFile = "%s/static/etc/init.d/rsyslog" % self.install_dir

And
self.copyFile(self.rsyslogInitFile, "/etc/init.d")
self.removeFile("/etc/init/rsyslog.conf")

[2016-12-01 10:37] ganesh-at-wiw commented on #211
rsyslogd: run failed with error -2207 (see rsyslog.h or try http://www.rsyslog.com/e/2207 to learn what that number means)
Above like is okay, as we don't have much control over rsyslog binary. This error(ineffective) occurs because I made two changes to the /etc/init.d/rsyslog file in start and stop functions.

[2016-12-01 10:56] #198 closed

[2016-12-01 15:42] tecoholic commented on #211
I tested the `gluu-server-3.0.0 Ubuntu 14 Build 25`, the logs are being generated without issue after the installation.
@ganesh-at-wiw Thank you for the fix.

[2016-12-01 18:51] tecoholic commented on #222
Since the index configuration is simply specifying it in `slapd.conf` we aren't relying on the `setup.py`. Is there a specific reason why we should maintain `index.json` instead of maintaining the index attribute list in the `slapd.conf`? If modularity is the issue. We can maintain a separate `index_list.conf` and add something like `include index_list.conf` in the `slapd.conf`.

[2016-12-01 18:54] tecoholic commented on #221
Ok. this has got something to do with the version containing the literals sp2. The script was written to handle just three digit dot separated version strings. It will be updated to include the new scheme of four digit and string based  versions as well.

[2016-12-01 19:00] tecoholic commented on #216
@yurem Need more information on this. Kindly update when you find time.

[2016-12-02 09:21] yurem commented on #222
I understand your point. It's up to you to choose best method.
But I think we need to try to keep _slapd.conf_ simpler and don't force developers to update it. This will protect us from unwanted  _slapd.conf_ changes. Also who knows if in future we decided to support other LDAP server too. I offer to generate list of indexes in setup and substitute in setup.
I offer to reuse our JSON format: https

[2016-12-02 11:03] arvindsinghtomar commented on #30
Sorry by mistake.

[2016-12-02 16:03] yurem commented on #216
We don't support custom objcet OC-ORGINUM now. We need to remove it and sample customer attributes from schema

[2016-12-02 16:25] yurem commented on #203
We can reopen issue in doc project

[2016-12-02 16:25] #203 closed

[2016-12-02 21:09] yurem commented on #223
https://github.com/GluuFederation/community-edition-setup/commit/2500a86100be5861cbd40faafc31fbf9e67e7bb7

[2016-12-02 21:09] #223 closed

[2016-12-02 21:10] yurem commented on #220
@tecoholic fixed this: updated the slapd.conf for uid and email uniqueness

[2016-12-02 21:10] #220 closed

[2016-12-02 21:54] nynymike commented on #222
I'm ok with keeping indexes in slapd.conf

The reason it was in JSON was that we had to iterate through the indexes, and run dsconfig, and JSON was easier for this purpose.

[2016-12-05 06:52] dmogn commented on #210
Fixed.

[2016-12-05 06:52] #210 closed

[2016-12-06 07:23] uboznikov opened #224 "Custom attribute(s) not added to OpenLDAP"
Added the ff. to `/opt/gluu/custom.schema`:

[code]

Also modified objectClass definition:

[code]

Restarted Gluu server and also executed:

[code]

But when browsed in JXplorer, the new attributes does not show and `oxAuthClientCustomAttributes` objectClass not updated.

Tried also to register same attributes in oxTrust GUI, encountered an error.

[2016-12-07 08:01] yurem commented on #224
These are all steps:
1. service solserver stop
2. Update OpenLDAP schema files
3. mv /opt/symas/etc/openldap/slapd.d /opt/symas/etc/openldap/slapd.d.bk01 where bk01 is backup index
4. mkdir -p /opt/symas/etc/openldap/slapd.d
5. opt/symas/bin/slaptest -f /opt/symas/etc/openldap/slapd.conf -F /opt/symas/etc/openldap/slapd.d
6. service solserver start

[2016-12-07 08:02] yurem commented on #224
@willow9886 can you open issue in docs to add page about OpenLDAP schema customizations. In last comment there are list of steps which allows to do this

[2016-12-07 08:45] yurem commented on #216
Fixed. https://github.com/GluuFederation/community-edition-setup/commit/ee964aec74ddd4b442d95560c7be63867e504265

[2016-12-07 08:45] #216 closed

[2016-12-07 14:44] yurem commented on #222
We might also need to run command to do initial indexing of all required attributes
slapindex -f /opt/symas/etc/openldap/slapd.conf -c uid

[2016-12-07 14:46] tecoholic commented on #222
Not required. When the data is added ldapadd or modify the data is automatically indexed.

[2016-12-07 15:12] yurem commented on #211
It works fine now without errors under Ubuntu 14.04

[2016-12-07 15:12] #211 closed

[2016-12-07 15:13] yurem commented on #190
Current status:
libs, resources and xhtml customizations are work fine in 3.0.0.
There is only propblem with page.xml files.

[2016-12-07 19:54] mzico commented on #215
@yurem : How we should test it? There are two ways:

 - Only SAML_Script ( no Asimba )
 - SAML script with Asimba.

Do you think we should test both cases?

Plus... Now... 'saml' script is named as 'asimba' in Custom Script configuration?

[2016-12-07 20:04] nynymike commented on #215
Ideally both. But I'm not super concerned about QA-ing authentication scripts because they are easy to update post-release... i.e. just copy and paste new script.

[2016-12-07 20:10] mzico commented on #215
@nynymike : Noted, thanks Sensei.

[2016-12-07 20:10] willow9886 commented on #224
Ok, will do.

[2016-12-07 20:13] #215 closed

[2016-12-08 06:52] uboznikov opened #226 "Could not start OpenLDAP from migration procedure"
From **Procedure for replacing OpenDJ with OpenLDAP in 2.4.4.2** in https://github.com/GluuFederation/community-edition-setup/tree/openldap-migration/openldap_migration

Could not start OpenLDAP in step 5:

[code]

[2016-12-08 07:02] uboznikov commented on #226
![image](https://cloud.githubusercontent.com/assets/16329085/21000693/3f5d4454-bd57-11e6-8463-06738517df84.png)

[2016-12-08 14:06] uboznikov commented on #167
@yurem Please see above.

[2016-12-08 14:21] tecoholic commented on #226
This is the first time this error has shown up. Check if the file `/opt/symas/etc/openldap/symas-openldap.conf` files exists and also report the OS you are running this on. The procedure has only been tested on a Ubuntu 14 system.

[2016-12-08 14:34] uboznikov commented on #226
![check](https://cloud.githubusercontent.com/assets/16329085/21013835/6c3f10c6-bd96-11e6-83cc-ba934acc7135.png)

[2016-12-08 14:47] tecoholic commented on #226
Does running `service solserver restart` help? Any errors? Kindly confirm Ubuntu 14.

[2016-12-08 14:49] uboznikov commented on #226
Same error with restart.

[2016-12-08 14:50] tecoholic commented on #226
Sorry I didn't notice the uname on the top.

[2016-12-08 14:51] tecoholic commented on #226
Ok I will see what's the issue, if I bump into this error. Until then, it is difficult to say if there is actually an error or just a one off occurance.

[2016-12-09 17:19] tecoholic commented on #226
After multiple instances of migration, I haven't been able to produce/encounter this bug. The only output I have seen repeatedly is
[code]

Maybe the issue is with the openldap package used for testing. Closing this issue now. Reopen if necessary.

[2016-12-09 17:19] #226 closed

[2016-12-12 18:22] jschristie opened #228 "Migration of OpenDJ to OpenLDAP doesn't if CAS, Shib and ASIMBA is installed"
Not migrate ldap from opendj to openldap if CAS,Shib and ASIMBA is installed.

[2016-12-12 20:05] #190 closed

[2016-12-14 19:14] yurem commented on #206
Setup updated.

[2016-12-14 19:14] #206 closed

[2016-12-16 07:45] uboznikov commented on #224
I am encountering errors when registering custom attributes in oxTrust GUI that were successfully added to the schema. Build 32 ALPHA1 in Ubuntu 14.04.

![cant-add-custom-attr-oxtrust-gui](https://cloud.githubusercontent.com/assets/16329085/21255394/a1841b80-c3a6-11e6-9913-91f954c878a9.png)

[2016-12-16 07:52] #224 closed

[2016-12-16 14:16] mzico opened #229 "Update CentOS 7.3 breaking server"
- Background:
   - Gluu Server 2.4.4 installed in CentOS 7.2
   - Performed 'yum update' inside and outside of container
   - Rebooted VM

- Situation:
   - oxAuth login page coming.
   - Shibboleth failing ( http://pastebin.com/pZmrr0A5 )
   - oxAuth login failing:
      - Stack trace: http://pastebin.com/2GXM757R
      - Screenshot:
![screenshot_3](https://cloud.githubusercontent.com/assets/7156

[2016-12-19 05:57] dmogn opened #230 "asimba-selector.xml has been losted"
should be in /etc/gluu/conf/asimba/asimba-selector.xml

[2016-12-19 13:13] #167 closed

[2016-12-20 06:12] yurem commented on #208
@uboznikov , @tecoholic can you update this ticket, please. Is it still needed?

[2016-12-20 06:37] dmogn commented on #230
Fixed.

[2016-12-20 06:37] #230 closed

[2016-12-20 17:16] yurem opened #231 "CE 3.0.0 not start/stop rsyslog"
During gluu-server stop [script](https://github.com/GluuFederation/community-edition-package/blob/master/package/initd/gluu-server)  not checks if rsyslogd is up and as result not stop it

At startup gluu-server not run rsyslogd becuase there is no commands similar to [these ](https://github.com/GluuFederation/community-edition-setup/blob/master/setup.py#L2185)to autostart it at chroot startup

[2016-12-20 18:42] mzico opened #232 "CE 2.4.4 Ubuntu 14.04 not installing"
[code]

[2016-12-22 13:25] adrian-gluu commented on #232
just updated the metadata can you try now?

[2016-12-22 13:39] mzico commented on #232
@adrian-gluu : Thanks, checking.

[2016-12-22 13:48] mzico commented on #232
@adrian-gluu : It's working now.

[2016-12-22 13:48] #232 closed

[2016-12-22 13:49] yurem opened #234 "Fix Gluu OpenLDAP schema"
On the latest CE 3.0.0 build we get:
[code]

[code]

[2016-12-22 19:18] tecoholic commented on #208
@yurem I think ticket now is invalid as @uboznikov says

I am closing the ticket for now.

[2016-12-22 19:20] tecoholic commented on #228
@jschristie Can you give more details? Where does the migration fail? Any errors that you encountered etc?

[2016-12-23 13:32] yurem opened #235 "There is warning at lastest CE install"
[code]

After install CE works fine and config according to this is good too:
[code]

[2016-12-23 14:16] yurem opened #236 "OpenLDAP should listen on localhost only"
IN CE for security reasons OpenLDAP should bind to localhost only by default.

[2016-12-23 16:04] jschristie commented on #228
@tecoholic

No errors while migrating, but what i found is that in CAS BindDN doesn't change, to cn=directory manager, o=gluu, it doesn't authenticate and Migration fails there. It doesn't allow tomcat to run and it stops.

Errors that found are in wrapper, oxauth.log for tomcat and for ldap failure it shows in oxauth_persistence.log

Here is the log from oxauth_persistence:

2016-12-09 13:01:27,7

[2016-12-23 19:09] mzico opened #237 "CE 3.0.0 deb ( 14.04 ) uninstallation not happening"
[code]

[2016-12-24 14:55] tecoholic commented on #236
Presently the configuration in the [symas-openldap.conf](https://github.com/GluuFederation/community-edition-setup/blob/master/templates/symas-openldap.conf) file is this

[code]

Do you want to restrict this to `ldaps://127.0.0.1:1636` ? Wouldn't that render the editing LDAP in case of oxTrust lockout or troubleshooting?

[2016-12-24 15:10] tecoholic commented on #234
[code]

The openldap schema definitions in the `gluu.schema` file are present for both the attributes reported as missing. Closing this as this is not a schema file issue. Looks like that information wasn't stored by the software(oxAuth) in the LDAP and thus cannot be deleted or modified.

[2016-12-24 15:10] #234 closed

[2016-12-24 15:13] tecoholic commented on #235
I added the access log overlay. Let me check which verification is failing. The setup is tested. Nothing to worry about the functionality.

[2016-12-26 09:42] yurem commented on #235
yes, CE woks fine. I wrote this in description of the issue. How we can fix this error at setup to avoid question about this in future?

[2016-12-26 11:09] yurem commented on #236
For me it's better to restrict access to all services expect Apache https port by default. If customer need access to LDAP from remote server he should manually add host and ACI rules if needed.

[2016-12-26 13:19] yurem commented on #237
I saw this error very rarely. In most case there is no this error.

Can you try to reinstall partially uninstalled package: dpkg -i package_name.

Can you try to find scenario which allows to reprodce it?

[2016-12-26 13:40] mzico commented on #237
@yurem :

I think I didn't understand this instruction.

[2016-12-26 17:25] nynymike commented on #236
yes, ldap should be only `ldaps://127.0.0.1:1636`  If a customer wants to diverge from this config, they can modify `slapd.conf` post-installation

[2016-12-26 19:21] mzico opened #238 "Enable openldap logging in 3.0.0"
There is no logging enabled for openldap at this moment. OpenLDAP logs should be inside '/var/symas/openldap-log' ( according to Symas documentation ).

[2016-12-26 19:39] mzico commented on #238
@zamilskhan  got one log here...

[code]

[2016-12-26 21:44] nynymike commented on #238
openldap uses syslog. We need to configure syslog to send slapd messages to a different file.

You can also use the [-l syslog-local-user] option to slapd
slapd -l LOCAL3 for exemple and then put in your syslog.conf a line:
local3.*       /var/log/ldap.log

from
http://www.openldap.org/lists/openldap-software/200210/msg00269.html

[2017-01-05 15:58] tecoholic opened #239 "Upgrade Script for 2.4 to 3.0 Migration of Gluu server"
Migration from 2.4 to 3.0 requires a script similar to the `import24.py`

[2017-01-05 16:43] tecoholic commented on #235
@yurem this warning the thrown when we generate the `cn=config` directory in the line 2321 `self.run([self.slaptest, '-f', self.openldapSlapdConf, '-F', self.openldapCnConfig])`. This actually would throw 3 such errors for each `o=gluu`, `o=site` and `cn=accesslog` database suffixes. But when we import the ldif files from the templates, the DB file for `o=gluu` and `o=site` are created. But we don

[2017-01-05 16:56] nynymike commented on #235
I thought we were not going to use cn=config db...

[2017-01-05 16:56] mzico commented on #229
- Reason of failure: Yum update to 7.3 generating new java keystore ( cacerts ).
- Resolution:
  - Backup 'cacerts' from /etc/pki/java/ ( inside Gluu Server Container )
  - Perform 'yum update' inside container
  - Restart Gluu Server Container
  - Log into Container and copy old 'cacerts' inside /etc/pki/java/
  - Restart Gluu Server Container

[2017-01-05 16:56] #229 closed

[2017-01-05 17:01] tecoholic commented on #235
I remember we deciding to use the slapd.conf and also have cn=config generated after a talking with Symas. It would make a couple of things if we omit the cn=config. Do you want to disable the cn=config?

[2017-01-05 17:06] tecoholic commented on #235
I am disabling the cn=config generation in setup.py. I have no clear benefits as of now to enable it by default. The admin can tweak the slapd.conf according to the needs and then generate it manually if he requires the On Line Configuration.

[2017-01-05 17:28] #236 closed

[2017-01-05 17:34] tecoholic commented on #238
OpenLDAP logging and Log rotation has been added and is working. See 490c6cddd397cbda428a2015331e9c9885984f51 and 855020d5bc84e8be5358a1d7a45c71b87a10c4ad

The logs are presently stored in `/var/log/openldap`. Is this ticket specifically asking for the location to conform to Symas defined location? If so, it can be changed. Otherwise kindly close this issue as resolved.

[2017-01-05 17:53] nynymike commented on #235
Yes, enabling cn=config lead to confusion... we were updating slapd.conf, but the changes were not taking effect. I think disabling it by default is better, so anyone who enables it needs to really understand what they're doing.

[2017-01-05 18:00] tecoholic commented on #221
@mzico I tested on the following strings for version names. All of the below pass the integer conversion `int(getBackupProperty('version').replace('.', '').strip()[:3])`

[code]

Is there a version defined which start with the string `sp2` instead the dot separated integer notation? Because the only way the reported error could have arisen is when there is a line in `setup.properties` which is sim

[2017-01-05 18:07] tecoholic commented on #238
![](https://github.trello.services/images/mini-trello-icon.png) [Setup Symas OpenLDAP](https://trello.com/c/jwifOhE5/575-setup-symas-openldap)

[2017-01-05 18:08] mzico commented on #238
@tecoholic

This log is showing startup and shutdown messages only; if I don't miss anything.

We need access log, audit log as well to troubleshoot various ldap related issues.

[2017-01-05 18:10] mzico commented on #221
Looping @yurem .

[2017-01-05 20:04] nynymike commented on #170
@shouro Can you take a look at these docker files. Any thoughts?

[2017-01-06 03:49] shouro commented on #170
We are not working on docker CE version.
CE developed to work on chroot so if you do it you may need to modify current CE structure.
Tecnicaly you can do it using tools like supervisord and a modified setup.py .
how you are planing to use 'CherryPy' ?

[2017-01-06 11:29] pi0 opened #241 "[Proposal] Staged Setup Process. Fixes #30"
# The problem
As formerly mentioned in #30 setup process is a one way trip and we should somehow avoid running it multiply times by user. Currently if anything goes wrong customers should backup then reinstall and reconfigure entire system OR they can recall *setup.py* which is not SAFE to be called multiply times.

# Solution
If we inspect setup script currently all steps run on **every** setup e

[2017-01-06 15:35] tecoholic commented on #238
Current Status:
- [x] System Log
- [x] Access Log
- [ ] Audit Log

[2017-01-06 16:59] #238 closed

[2017-01-06 17:05] tecoholic commented on #238
`/var/log/openldap/ldap.log` is configured as `loglevel stats sync` so it should be logging all search, and modify operations along with the connections. For example, here is what I observe:

[code]

The above commit added the audit logging and it can be found in `/var/log/openldap/auditlog.ldif`. LDIF, well, because audit log overlay uses ldif format to store the info.

[2017-01-07 07:28] ganesh-at-wiw opened #242 "gluu-server-3.0.0_3-BETA2 for Ubuntu 14.04 removes whole /opt when using --purge option"
Below are the commands to see what happens...

[code]

[2017-01-07 13:12] ganesh-at-wiw commented on #231
Added https://github.com/GluuFederation/community-edition-setup/commit/47902d20bde02b0925183192497c0daba00b2a00#diff-2eeaed663bd0d25b7e608891384b7298 for setup.py to let rsyslog start automatically with every start of gluu-server.

Added https://github.com/GluuFederation/community-edition-package/commit/1f8e28443f62d3626ae2268a96a295a7cbb08024#diff-5dfd552a9169b091ada6d476a7295596  to let rsyslog

[2017-01-07 19:05] mzico opened #243 "baseDN o=gluu not readable in gluu-server-3.0.0_3-BETA2~trusty+Ub14.04_amd64.deb"
- Problem: 'admin' unable to login after base installation.
- Stack trace: From oxauth.log http://pastebin.com/4g49PnFS
- LDAP checking:
    - ldapsearch not working:

[code]
  - ldapsearch should work like this ( it's from Beta1 'gluu-server-3.0.0_9-BETA1~trusty+Ub14.04_amd64.deb'  ):

[code]

[2017-01-07 19:05] mzico commented on #243
Looping @yurem

[2017-01-09 17:24] yurem commented on #231
yes, according to updates this should work fine. I will check in new build

[2017-01-09 17:24] #231 closed

[2017-01-09 21:15] zamilskhan commented on #243
Ran into the same problem in CentOS 6.6 (Final) package

[2017-01-09 21:42] jschristie commented on #243
Facing the same issue, not able to login to oxtrust UI and jxplorer ldap browser. And I get the below error in the oxtrust_persistence .log, I am using Ubuntu 14.04 and gluu-server-3.0.0_4-BETA2~trusty+Ub14.04_amd64.deb

GLUU.root@localhost:/opt/gluu/jetty/identity/logs# more oxtrust_persistence.log
2017-01-09 20:53:20,592 DEBUG [main] [org.gluu.site.ldap.LDAPConnectionProvider] (LDAPConnectionPro

[2017-01-10 00:14] adrian-gluu commented on #242
i made a fix in our latest built:
https://repo.gluu.org/ubuntu/pool/main/trusty-devel/gluu-server-3.0.0_5-BETA2~trusty+Ub14.04_amd64.deb

[2017-01-10 06:31] pi0 commented on #243
Same Issue! (Tried with latest war builds & community-edition-setup)
[code]
Same query results ok using Ldap Admin.

[2017-01-10 08:32] yurem commented on #237
Fixed gluu-server init.d script. It returns exit code 2 if server was stopped already.

[2017-01-10 08:32] #237 closed

[2017-01-10 08:44] yurem commented on #242
The fix not helps to fix this.

I've checked how dpkg removes package. In this process we not control backup of changed files.
It's package manager responsibility. And it works as expected when you specify '-r' option.

I thin we have 3 solutions:
1. Do full backup of /opt/gluu-server-3.0.0 folder if user specify '-P' option.
2. Don't allow to call uninstall with '-P' from preuininstall script
3.

[2017-01-10 08:44] #242 closed

[2017-01-10 08:56] yurem commented on #243
In latest dev packages there is small issue. Please apply this update to /opt/community-edition-setup/templates/appliance.ldif before run setup.py: https://github.com/GluuFederation/community-edition-setup/commit/b96785eceb492cbe0e6efb0ef294da5dd1efd3f5

[2017-01-10 08:56] #243 closed

[2017-01-10 08:57] #222 closed

[2017-01-10 08:59] pi0 commented on #243
@yurem Thanks for tip ;) 👍

[2017-01-10 08:59] yurem opened #245 "Add external configuration file which contains list of indexes whoich setup should add to OpenLDAP"
We need to add simular to this file into setup.py again
https://github.com/GluuFederation/community-edition-setup/blob/version_2.4.4_sp2/static/opendj/opendj_index.json

It's better to keep indexes configuration in this self explanatory format than update openldap configuration.

[2017-01-10 13:52] yurem opened #246 "Review oxAuth default configuration to make it more strict by default"
New release is good change to disable legacy functionality by default to force customers to use new API or change code to not depends on workarounds:

We need to review default setting: https://github.com/GluuFederation/community-edition-setup/blob/master/templates/oxauth-config.json

For example we can change:
[code]
to
[code]

[2017-01-10 22:37] dmogn opened #247 "Remove CAS as install option"
Shibboleth CAS protocol support only.

[2017-01-11 08:41] zamilskhan commented on #231
RSyslog failing in 6-BETA2 package. Upon restart command got the following
[code]

[2017-01-11 15:23] yurem commented on #235
There is no this error message in latest setup. Thanks!

[2017-01-11 15:23] #235 closed

[2017-01-11 19:25] jschristie opened #248 "Fresh installation of Gluu 3.0.0 6Beta2, restart of gluu doesn't start apache automatically"
I have installed and configured a Gluu 3.0.0_6_Beta2 on Ubuntu 14.04.

After I have installed, I was able to get the oxtrust UI. After installation, I stopped and started the Gluu server using Start and Stop command. While doing so, apache doesn't get started and have manually start apache using service apache2 start command. This happened in earlier release too. And apache logs aren't captured in

[2017-01-11 22:15] #246 closed

[2017-01-13 10:58] dalareo commented on #170
Great job @pi0 ! I created an issue in the repo: not able to load login page!

[2017-01-15 20:31] yurem opened #249 "Move /etc/gluu/conf/python to /opt/gluu/python/libs"
We need to move custom python libs from /etc directory to another place in /opt

[2017-01-16 11:10] yurem commented on #249
Implemented

[2017-01-16 11:10] #249 closed

[2017-01-16 11:20] yurem commented on #247
@nynymike I'm not sure that we need to completely remove CAS from CE until someone will test and told that IDP3+CAS provides same functionality. As far as I know we don't have IDP3+CAS configuration options in GUI and I'm not sure that it works as CAS out of the box.

[2017-01-16 11:20] yurem commented on #247
I'm moving it to CE 3.1

[2017-01-16 11:43] yurem commented on #184
Fixed

[2017-01-16 11:43] #184 closed

[2017-01-16 12:08] yurem commented on #164
I've tested in in 3.0.0 and I can't reproduce this issue. IDP works fine after installation and setup properly detects that I installed Saml in other VM.

[2017-01-16 12:08] #164 closed

[2017-01-16 17:41] ganesh-at-wiw commented on #231
I've introduced further changes now.
https://github.com/GluuFederation/community-edition-package/commit/7e4f321b1caa06f04bf5217985d08a521b90177b#diff-5dfd552a9169b091ada6d476a7295596

This works as per my testing in Ubuntu 14.04.

[2017-01-17 12:59] yurem opened #251 "Jetty - Basic Hardening"
We need to disable showContexts and dirAllowed in default webdefault.xml

More information is here: http://tarlogonjava.blogspot.com/2012/06/jetty-basic-hardening.html

[2017-01-17 14:25] yurem opened #252 "Hide CAS installation by default"
I offer to not remove it from CE 3.0.0. We can remove it from 3.1.0
But hide this option.
For example in order to active it admin should enter
./setup.py --allowDeprecatedApplications

[2017-01-17 15:05] dmogn commented on #247
https://github.com/GluuFederation/community-edition-setup/issues/252

[2017-01-17 15:13] dmogn opened #253 "CAS service start failed on Ubuntu 14.04"
GLUU.root@ce:~# service cas start
Starting Jetty: FAILED Tue Jan 17 15:09:12 UTC 2017
GLUU.root@ce:~# service cas stop
Stopping Jetty: start-stop-daemon: warning: failed to kill 3386: No such process
1 pids were not killed
No process in pidfile '/var/run/cas.pid' found running; none killed.
OK
GLUU.root@ce:~#

No files in ...../cas/logs/ directory.

@yurem told me, that on redhat the service works

[2017-01-18 08:59] yurem commented on #253
I fixed this in: https://github.com/GluuFederation/community-edition-setup/commit/bccaee7bd121b8d31e6facfc9a13236d38fb354a

It happened when we installed all CE components with 3Gb only: As result java parameters were wrong:
-Xms256m -Xmx153m

After fix:
-Xms128m -Xmx153m

2.Beta3 contains this fix

Also lack of VM memory led to random applications shutdowns when during CE initial we specified mor

[2017-01-18 08:59] #253 closed

[2017-01-18 17:16] nynymike opened #254 "Generate OP signing keys"
To support https://github.com/GluuFederation/oxAuth/issues/445 we need to generate OP signing keys.

[2017-01-19 03:58] dmogn commented on #252
Gluu installer has "--allow_pre_released_applications" flag.
I've created the flag with "--allow_deprecated_application" name, for same style keeping.

[2017-01-19 08:55] dmogn commented on #252
Done.

[2017-01-19 08:55] #252 closed

[2017-01-19 21:44] zamilskhan opened #255 "2.4.4 resolv.conf issue"
The setup script `setup.py` changes the contents of the `/etc/resolv.con` file. When the package is installed, the contents of the host OS is used and it is changed after the setup script is run. The contents are reverted back after the Gluu Server `chroot` is stopped and restarted.

[2017-01-19 21:46] mzico commented on #255
@zamilskhan : how is 3.0.0 going with this thing? do we need to fix such in 3.0.0 as well?

[2017-01-19 22:09] zamilskhan commented on #255
The problem is only specific to 2.4.4. The problem is not there in 3.0.0. I will recheck with the latest package and post my findings. This is only specific to CentOS/RHEL systems.

[2017-01-20 05:43] ganesh-at-wiw commented on #255
Zamil, this is intended action. With every chroot start, the /etc/resolv.conf inside the chroot is copied from host /etc/resolv.conf.

[2017-01-20 05:57] ganesh-at-wiw commented on #255
Hi Zamil, this same action is repeated in 3.0.0 as well because this is not a bug.

[2017-01-20 06:55] sahiliamsso opened #256 "Restart command is not working - Ubuntu 14.04"
root@ubuntu:/home/gluu# /etc/init.d/gluu-server-3.0.0 restart
Shutting down Gluu Server...
Stopping Apache...
OK
Stopping Passport...
OK
Stopping oxAuth RP...
OK
Stopping Asimba...
OK
Stopping CAS...
OK
Stopping IDP...
OK
Stopping oxTrust...
OK
Stopping oxAuth...
OK
Stopping OpendLDAP...
OK

ERROR: Can't start gluu server.
HINT: Please manually remove /var/run/gluu-server-3.0.0.pid and unmount chr

[2017-01-20 08:51] mzico commented on #255
Does that mean if we have org specific nameserver entries in host resolv.conf file; upon reboot container's hosts would be intact and reflected correctly?

[2017-01-20 09:32] ganesh-at-wiw commented on #255
Yes, host copy will always be copied inside chroot.

[2017-01-20 10:00] mzico commented on #255
Thanks @ganesh-at-wiw
We will do a quick test and inform you on status.

[2017-01-20 16:07] yurem commented on #251
Implemented

[2017-01-20 16:07] #251 closed

[2017-01-20 16:16] yurem opened #257 "Update dynamic scope scripts to conform new refeences to script via scope.oxScriptDn"

[2017-01-20 17:09] yurem commented on #256
Which deb/rpm you used to test this?

[2017-01-20 17:46] yurem opened #258 "Incorrect syntax of DN attributies"
In OpenLDAP/OpenDJ we define few attributes as string. But correct syntax should be "Distinguished Name syntax".

I fixed few such attributes: https://github.com/GluuFederation/community-edition-setup/commit/ef73a44f6b31d02165aa47110aa23614c63f0001

[2017-01-20 18:02] yurem commented on #257
Fixed

[2017-01-20 18:02] #257 closed

[2017-01-23 11:11] yurem opened #259 "OpenDJ schema is broken"
In latest OpenDJ shcema there are manay errors like this:
[code]

[2017-01-23 11:55] yurem commented on #259
I've fixed schema in setup. We also need to fix openldap->opendj schema migrator. In it's code there is bug which add ":" after the objectClass in wrong places.

[2017-01-23 12:31] yurem commented on #259
Also converter produces:
[code]

But right value should be:
[code]

[2017-01-23 15:01] yurem commented on #256
Are there any feedback about beta4?

[2017-01-23 15:50] tecoholic commented on #239
The migration script is completed and available as https://github.com/GluuFederation/community-edition-setup/blob/master/static/scripts/import30.py

[2017-01-23 15:50] #239 closed

[2017-01-23 17:12] zamilskhan commented on #255
We could put a note asking the admin to restart the `chroot` after installation. This will help clear the situation with 2.4.4 `/etc/resolv.conf` file changing

[2017-01-23 22:24] mzico commented on #255
@zamilskhan  and @ganesh-at-wiw :

I tried locally with CentOS7.3+Gluu Server version: 2.4.4 SP1 and seems like even after reboot resolv.conf inside container was good.
Here is a video I recorded, I showed Gluu Server version, status of resolv.conf inside and outside of container and rebooted server: https://youtu.be/7mm82MizefI

I think we just need to make sure if everything is working 3.0.0 now

[2017-01-23 22:40] zamilskhan opened #260 "CentOS 6.6 Package gluu-server-3.0.0.x86_64 1-BETA4.centos6 errors"
Package installation work fine, but nothing works. The `setup_error.log` contains the following

[code]
No service is started
[code]
ASIMBA was not installed
[code]

[2017-01-24 04:55] ganesh-at-wiw commented on #255
Yes Zico, that's what we've talked about that the copy from host to chroot is a feature not a bug.

[2017-01-24 15:11] tecoholic commented on #259
The convertor is not the code written by us. It is taken from https://github.com/ludomp/opendj-utils/blob/master/schema-convert.py. It is licensed under some CDDL license, I think we should be better off by writing a new convertor. Schema management is something on the TODO list, so this convertor should be available sometime in the future.

[2017-01-24 15:17] zamilskhan commented on #255
@ganesh-at-wiw The query was about 2.4.4 which changes the contents of `/etc/resolv.con` file when the setup script is run. For all other following versions, there is no issue.

[2017-01-27 08:14] yurem commented on #259
ok, changing milestone...

[2017-01-27 08:44] yurem commented on #260
I added workaround to allow run this on old Python 2.6.6: https://github.com/GluuFederation/community-edition-setup/commit/0d3e0d9c7362de147d71171afa4c296440dd83ff

Fixed and tested

[2017-01-27 08:44] #260 closed

[2017-01-27 08:56] yurem commented on #256
FIxed: https://github.com/GluuFederation/community-edition-package/commit/8fe62ebb3f894239b4c8552868cac93798dfaab9

[2017-01-27 08:56] #256 closed

[2017-01-27 09:32] #258 closed

[2017-01-27 11:52] yurem commented on #219
I've checked what this tool do. We have similar our tool: KeyGenerator
It also supports command line parameters, etc.. We uses it and CE isntall to generate:
/etc/certs/oxauth-keys.json
/etc/certs/oxauth-keys.jks

I'm moving to 3.1 to make final decision about it later.

[2017-01-27 11:53] yurem commented on #219
@qbert2k what do you think about this tool?

[2017-01-27 17:31] yurem commented on #217
Implemented in Beta5

[2017-01-27 17:31] #217 closed

[2017-01-28 03:48] tecoholic commented on #259
I have begun working on it. This can be done by 3.0 release.

[2017-01-30 17:01] nynymike opened #261 "OpenLDAP: o=site suffix must use different filesystem folder"
Suffix in OpenLDAP must be stored in a different file system folder. This could otherwise result in database corruption.

[2017-01-31 15:54] #261 closed

[2017-01-31 20:45] nynymike opened #262 "LDAP should not be running as root"
LDAP should be running as user "ldap"

This is wrong:

`/opt/symas/lib64/slapd -u root -g root -h ldaps://127.0.0.1:1636/`

Make sure symas folders are owned by user ldap also...

[2017-02-02 07:03] sahiliamsso opened #263 "100% space usage when back up taken with Gluu service running"
1. Keep Gluu services running
2. Take backup with "tar cvf gluu244-backup.tar /opt/gluu-server-2.4.4/" for 2.4.4
tar cvf gluu3000-backup.tar /opt/gluu-server-3.0.0/

gluu-server-3.0.0/proc/scsi/sg/device_hdr
gluu-server-3.0.0/proc/scsi/sg/device_strs
gluu-server-3.0.0/proc/scsi/sg/def_reserved_size
gluu-server-3.0.0/proc/scsi/scsi
gluu-server-3.0.0/proc/scsi/mptspi/
gluu-server-3.0.0/proc/scsi/mpt

[2017-02-02 15:09] #262 closed

[2017-02-02 17:14] willow9886 commented on #263
@sahiliamsso is reporting that backups work properly when you stop the Gluu Server, but it's important that an organization is able to backup the server without stopping the server. The service needs to remain available even while backup is taking place.

[2017-02-03 18:54] yurem commented on #263
@sahiliamsso It's  normal behavior of tar command why you add /proc or /dev or /sys patches.

These special file systems provides RAW access to disk partiions, also you can read memory, etc..

In order to make backup using this approach you need to add "--exclude=" parameters to exclude:
./gluu-server-3.0.0/proc/
./gluu-server-3.0.0/mnt/
./gluu-server-3.0.0/sys/
./gluu-server-3.0.0/dev/

[2017-02-03 18:54] #263 closed

[2017-02-05 14:55] uboznikov commented on #208
@tecoholic , Reopening this issue, please note below:

**To** be copied (2.4.4 --> 3.00):
`/opt/idp/metadata` --> `/opt/shibboleth-idp/metadata` (SP metadata)
`/opt/idp/ssl` --> `/opt/shibboleth-idp/ssl` (SP certs)

**Not** to be copied:
`/opt/idp/conf --> /opt/shibboleth-idp/conf` (these are re-generated from LDAP)

[2017-02-07 18:18] tecoholic commented on #259
This has been fixed with the new schema management suite of scripts.

[2017-02-07 18:18] #259 closed

[2017-02-07 18:19] tecoholic commented on #208
This will be updated in the import30.py script

[2017-02-08 15:40] #208 closed

[2017-02-16 19:17] #248 closed

[2017-02-20 20:41] paulsorensenmagnet opened #268 "setup.py - using an Ampersand (&) in admin password field fails"
FROM Script:

Optional: enter password for oxTrust and LDAP superuser [VbLh1SQKDthS] : TEst&lu321

...

Proceed with these values [Y|n] y
Downloading Asimba war file...
Downloading oxAuth RP war file...
Downloading JCE 1.8 zip file...
sh: 1: lu321: not found

[2017-02-24 10:31] yurem opened #269 "Fix rendering idp3 templates under some python builds"
In our idp3 templates there are mix of next string:
...%%{ipd.home}...
...%(hostname)s...

As result this specific version skips these files rendering which led to application startup errors.

We can reproduce this issue under "Debian 8.4"

[2017-02-26 10:53] yurem commented on #269
https://github.com/GluuFederation/community-edition-setup/commit/da4c6d95a3db74c350ebef7b0f4fe8098569f4b8

It was setup issue. According to this fix in setup we overwrite already rendered IDP3 tempaltes by their un-rendered version.

[2017-02-26 10:53] #269 closed

[2017-02-27 12:04] yurem commented on #255
Fixed

[2017-02-27 12:04] #255 closed

[2017-02-27 12:10] yurem opened #270 "Don't update /etc/hosts in old dist"
In CentOS 6.7/RHEL 6.7 during install we get error messages in logs:
07:48:18 02/27/17 Running: /bin/chmod -R 644 /etc/hosts /etc/hostname

07:48:18 02/27/17 /bin/chmod: cannot access `/etc/hostname': No such file or directory

...
second time: 07:48:52 02/27/17 /bin/chmod: cannot access `/etc/hostname': No such file or directory

Setup should check if there is this file in chroot befre trying to

[2017-02-27 12:13] yurem opened #271 "Wrong user:group during rsyslog configuraion"
CentOS 6.7/RHEL 6.7:

07:48:36 02/27/17 /bin/chown: invalid user: `syslog:adm'

CentOS 7.0/RHEL 7.0:
23:52:59 02/26/17 /bin/chown: invalid user: вЂsyslog:admвЂ™

Debian 8.4:
13:56:45 01/06/17 /bin/chown: invalid user: 'syslog:adm'

Only in Ubuntu 14.04/16.04 there is no errors.

Setup should take into consideration OS dist before running this 'chown' command.

[2017-02-27 12:15] yurem opened #272 "Failed to stop Gluu services properly in RHEL 6.7"
These process still up after uninstalling CE 3.0.1:
rtkit     16544      1  0 00:26 ?        00:00:00   memcached -d -p 11211 -u memcached -m 64 -c 1024 -P /var/run/memcached/memcached.pid
root      16573      1  0 00:26 ?        00:00:00   /sbin/rsyslogd -i /var/run/syslogd.pid -c 5
496       16600      1  0 00:26 ?        00:00:00   /opt/symas/lib64/slapd -u ldap -g ldap -h ldaps://127.0.0.1:163

[2017-02-27 12:16] yurem opened #273 "Faield to start rsyslog in RHEL 7.2"
03:23:36 02/27/17 Failed to restart rsyslog.service: Unit not found.

It looks like we not nonallied rsyslog package inside chroot

[2017-02-27 12:24] yurem commented on #157
According to setup we import all generated certs in default java trustore. Hence default configuration should works fine.
But I suspect in your case we changed self signed apache cert with real cert. In this case admin should manually import new cert into default java truststore

[2017-02-27 12:24] #157 closed

[2017-03-02 20:21] zamilskhan opened #274 "Gluu Server 3.0.1 fails to start after VM reboot"
OS: CentOS 6.8
Package: 3.0.1 2-1.centos6
VM was rebooted after a fresh installation.
[code]

[2017-03-02 22:19] alvesadrian commented on #274
a customer reported the same on debs, we gonna need to add update-rc.d gluu-server-3.0.1 defaults on setup py or in postinstall of the pkg and the same with chkconfig gluu-server-3.0.1 on rpms

[2017-03-02 22:20] adrian-gluu commented on #274
a customer reported the same on debs, we gonna need to add update-rc.d gluu-server-3.0.1 defaults on setup py or in postinstall of the pkg and the same with chkconfig gluu-server-3.0.1 on rpms

[2017-03-02 22:29] zamilskhan commented on #274
This issue is not present in CentOS 7.2.

[2017-03-03 07:09] ganesh-at-wiw commented on #57
We've updated the init script to comply with LSB and it works fine.

[2017-03-03 07:09] #57 closed

[2017-03-03 18:42] mzico commented on #274
@zamilskhan @adrian-gluu

Two things to share...

I faced same for Ubuntu 14.04 as well...

Here are couple of commands added below. See after starting and logging into the system; just oxauth ( and solserver started ). idp,identity and apache was down.
I had to manually start them and after that... check out those java processes:

[code]

[2017-03-04 11:19] ganesh-at-wiw commented on #273
Starting work on this. So far as I remember the package was available for Ubuntu 14.04 and CentOS 6.8.

[2017-03-04 12:35] ganesh-at-wiw commented on #273
Starting work on this. So far as I remember the package was available for Ubuntu 14.04 and CentOS 6.8.

[2017-03-06 13:12] yurem commented on #274
@adrian-gluu is going to add to post-install script commands to configure automatic service restart after VM reboot.

[2017-03-06 13:16] yurem opened #275 "Configure firewall on host to open https port after installing CE"
Yuriy: is it secure to open 443 port without admin approval?
Ganesh Dutt Sharma: yes, because anyway, external firewall still needs an open port at 443.
Most of our clients are doing it.
Yuriy: I think we can do this in postinstall script. We need to give Adrian commands for each platform.
Also to inform admin we can print message to console:
"Checking if https port is open and configuring firewal

[2017-03-06 16:07] adrian-gluu commented on #274
i just did that for ubuntu14/16 debian8 rhel6 and centos6, next build will fix this

[2017-03-06 16:07] adrian-gluu commented on #275
our pkgs disable IPTABLES in the host and also there is no iptables inside of the chroot

[2017-03-06 16:23] madumlao opened #276 "Should gluuGroup use groupOfEntries as its SUP objectClass?"
The long and short of it is that OpenDJ (and I assume some other LDAP implementations) only recognizes some objectClasses as "LDAP groups" internally. With OpenDJ it is groupOfNames, groupOfUniqueNames, groupOfEntries, plus some other objectClasses that are treated as dynamic or virtual static groups.

For all intents and purposes, gluuGroups behave like "static groups" (groupOfEntries) with addit

[2017-03-06 17:48] nynymike commented on #276
Mark, I'm not a big fan of using groups for anything. What is your use case?

[2017-03-07 04:18] madumlao commented on #276
You can probably guess that this my current use is for "legacy support".

The TLDR is that some apps dont have much of a choice outside of LDAP access (modifying their app or using middleware will break vendor support contracts) and I'm making allowances for them by creating limited "LDAP reader" accounts. For manageability, I created an ACI that allows members of a specific groupdn to have LDAP r

[2017-03-07 08:32] yurem commented on #275
I'm not sure that we can just disable all rules silently. For CE we only need to disable https

[2017-03-07 10:51] ganesh-at-wiw commented on #275
disable?

[2017-03-07 10:53] ganesh-at-wiw commented on #275
This will send entirely wrong signal to individual testers who just want to see the interface after installation. It'll send signals of not-working rather than a little security concern. So, at least 443 should be open.

[2017-03-09 04:00] nynymike commented on #276
I think you can also make access policies based on user attributes. The "memberOf" attribute is pretty equivalent to using groups. It does not sound like you are using any attribute of group other then person. I'm closing this issue because I don't think it's a priority for our roadmap.

[2017-03-09 04:00] #276 closed

[2017-03-09 05:00] zamilskhan commented on #274
Fixed in `gluu-server-3.0.1-1-1`

[2017-03-10 19:36] ganesh-at-wiw commented on #273
We need to install rsyslog inside chroot of RHEL 7.

After my testing with RHEL7, I see that, if rsyslog is installed then this error is not encountered in setup.log and setup_error.log:

-bash-4.2# grep rsyslog setup.log
00:59:15 03/11/17 Copied ./static/openldap/openldap-syslog.conf to /etc/rsyslog.d/
00:59:22 03/11/17 Running: /usr/bin/systemctl restart rsyslog.service
-bash-4.2# grep rsyslog s

[2017-03-10 19:37] ganesh-at-wiw commented on #273
@adrian-gluu, bro can you please install the package rsyslog inside the chroot of RHEL?
This will help the error from appearing in logs.

[2017-03-10 21:19] nynymike commented on #275
It is ridiculous to disable iptables on the host.  I would say that host firewall config is up to the system admin. We should not mess with the host firewall--just document the required ports for our application.

[2017-03-10 21:50] adrian-gluu commented on #273
in RHEL or Centos rsyslog is integrated already in a different way instead of /var/log/syslog you have /var/log/messages

[2017-03-10 21:51] adrian-gluu commented on #273
@ganesh-at-wiw can you check if /var/log/messages exist for you?

[2017-03-10 21:53] adrian-gluu commented on #275
your call guys i think only happens on RPM for centos7 and rhel7 because of the manner that we handle the systemd unit file
@yurem @ganesh-at-wiw @mzico @nynymike

[2017-03-11 09:22] ganesh-at-wiw commented on #273
I meant @adrian-gluu that the package itself does not exist.
That's why the message appears.

And Yes, the file exists as below:

[code]

[2017-03-11 09:23] ganesh-at-wiw commented on #273
Also, in CentOS 7, we have rsyslog package.
In RHEL 7, we don't have.

[2017-03-11 09:27] ganesh-at-wiw commented on #275
We should not disable iptables of host. We simply should add our one rule to allow port 443.

[2017-03-12 16:19] yurem commented on #275
ganesh-at-wiw commented 5 days ago

enable :), It's typo in this message. In original description I put right exaplanation

[2017-03-12 18:01] ganesh-at-wiw commented on #275
Thanks :)

[2017-03-12 22:26] adrian-gluu commented on #273
syslog is integrated on centos and rhel in a different way if you have /var/log/messages thats it

[2017-03-12 22:27] adrian-gluu commented on #275
add a rule how? if you dont have any way to know how the customer firewall is i think we can just disable adn add notes in our doc not inside of the pkg, we cannot know every customer firewall way

[2017-03-13 14:40] nynymike commented on #275
I agree. Per my previous comment, I don't think we should change the host firewall. Just make recommendations in the docs.

[2017-03-13 14:50] adrian-gluu commented on #275
also ONLY centos7 and rhel7 packages are disabling the firewall, because systemd hack that we have there but i will remove that in our next build

[2017-03-14 01:17] zamilskhan opened #278 "OpenDJ fails to stop in CentOS 7.2"
Manual upgrade to 3.0.1 Opendj was followed. OpenDJ does not stop. The same issue was not found in CentOS 6.8. Please follow the [manual update procedure](https://github.com/GluuFederation/docs-3.0.1/blob/master/source/upgrade/manual-update.md) and stop container. See [Trello ticket](https://trello.com/c/TxGQZEr1/722-qa-3-0-0-opendj-not-stopping)

[2017-03-15 19:34] ganesh-at-wiw commented on #272
The rsyslogd and memcached process are from the host server not from chroot container. LDAP process is not seen when service gluu-server-3.0.1 is stopped.

So, it's fine for me.
Next I'll update after uninstalling the rpm.

[2017-03-15 19:38] ganesh-at-wiw commented on #272
To me this all is fine even after uninstalling the rpm.

Please provide similar output before and after uninstall.

[2017-03-30 00:57] zamilskhan opened #279 "Error in import30.py script"
OS: CentOS 6.8
Upgrade: 2.4.4 to 3.0.1
See [ticket](https://support.gluu.org/upgrade/3929/gluu-30-upgrade-fails-import30py-etchostname/) regarding the issue.
The following error is seen when the import command is used

[code]

[2017-03-30 01:00] sahiliamsso commented on #279
Error on Ubuntu 14.04 when tried to upgrade 2.4.4 to 3.0.1
INFO     Copying Shibboleth IDP files...
Traceback (most recent call last):
  File "./import30.py", line 599, in <module>
    migrator.migrate()
  File "./import30.py", line 584, in migrate
    self.copyIDPFiles()
  File "./import30.py", line 572, in copyIDPFiles
    '/opt/shibboleth-idp/ssl')
  File "/usr/lib/python2.7/distutils/dir_util.

[2017-03-31 03:34] tecoholic commented on #279
Commit https://github.com/GluuFederation/community-edition-setup/commit/9fe6c81397e248e69f693cdfcfe84c6b1b485d6c has fix.

[2017-03-31 09:59] zamilskhan commented on #279
@tecoholic
[code]
When I try to start openldap
[code]

When Gluu Server is restarted
[code]

[2017-03-31 16:53] tecoholic commented on #279
I figured out the issue. The ox-INUM object classes were deprecated during the 3.0 development and are no longer used. But the old data depends on the objectclass. I updated the script to concat the 99-user.ldif schema to the custom.schema of OpenLDAP in the commit 193e21d92274f0bae964182b9324a40908d018da. This should fix the issue.

[2017-04-01 03:59] zamilskhan commented on #279
@tecoholic this is from CentOS 6.8. The import does not throw any errors now, but oxTrust fails to start. When I restarted oxTrust and tailed log, I found the following error in the log.

[oxtrust.zip](https://github.com/GluuFederation/community-edition-setup/files/887340/oxtrust.zip)

[2017-04-03 15:06] mzico opened #280 "import30.py is not importing SPs"
- Situation: Grabbed 'backup24' from 2.4.4 sp2 Server. Directory 'ssl' was missing in /backup_24/opt/idp/ssl/

Tried to use import30.py in one 3.0.1 server which has OpenLDAP. Results are:

 - import30.py throw error:
[code]

     - This can resolved by manually inserting 'ssl' directory inside /backup_24/opt/idp/

- After that...
   - No SP configurations are inserted in OpenLDAP tree.
  - I can

[2017-04-04 08:11] tecoholic commented on #279
@zamilskhan PKIX path failure is usually due to the change in certificates. A restart of the gluu-server should reload the certificates and remove the error.

[2017-04-04 08:15] tecoholic commented on #279
The  last line in the upgrade docs https://gluu.org/docs/ce/3.0.1/upgrade/ says

It feels as if it is hidden in the docs.

@jschristie Can you update the sentence to read "After completion of import, stop/start gluu-server container one time." as a `Note` box so that it is more visible and clear to developers.

[2017-04-04 08:20] tecoholic commented on #280
@mzico There is no way data exported as LDIF from 2.4.4 would go missing from 3.0.1 after import. There will be log entries, if that happens. I haven't seen such an error in the logs.

I think the information was stored in files in 2.4.4 and then moved to the LDAP in version 3. I would need developer input if that is the case to transform the config from  XML file to the LDIF file.

[2017-04-04 09:22] mzico commented on #280
@tecoholic : Ok that is a promising statement. However it happened. Lemme know how I can show you that. May be we can have a quick screen sharing meeting sometime? I'll show you.

[2017-04-04 17:06] willow9886 commented on #279
@tecoholic I just updated the docs accordingly. Thanks for the suggestion.

[2017-04-06 15:37] tecoholic opened #281 "Remove unnecessary dependency of /etc/hostname from setup.py"
The following was reported in the Gluu Support portal.

I'm attempting to get a clean gluu 3.0.1 install running which has been unsuccessful. Among a couple of issues it appears that the setup.py script in a couple locations is attempting to use /etc/hostname. This does not consistently exist in CentOS 6 like it does in 7. This is causing errors which are visible in the setup log.